body {
    font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
    color: #212121;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.text-default {
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: normal;
}

.margin-top {
    margin-top: 10px !important;
}
.padding-top-sm {
    padding-top: 5px !important;
}

#navbar {
    margin: 0;
    font-weight: 400;
}

.jumbotron {
    color: #f5f5f5;
    background-color: #03A9F4;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .15);

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    padding: 20px 0 40px;
}
.jumbotron a,
.jumbotron a:hover,
.jumbotron a:visited {
    color: #f5f5f5;
}
.jumbotron .btn-lg {
    margin: 10px 0;
    font-size: 24px;
    padding: 17px 30px;
    color: #ffffff;
    border-color: #c7e7dc;
    background-color: transparent;
}
.jumbotron .btn-lg:hover {
    background-color: #f4faf8;
    border-color: #f4faf8;
    color: #0288D1;
    text-shadow: none;
}

@media screen and (min-width: 768px) {
    .jumbotron h1, .jumbotron .h1 {
        font-size: 48px;
    }
}

.jumbotron p {
    margin: 8px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
}



.jumbotron-img {
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.actions {
    padding-top: 16px;
}

#social-buttons {
    padding: 22px 0 10px;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}
#social-buttons li {
    vertical-align: top;
}
#social-buttons .git-tip img {
    margin-top: -4px;
}
#download-buttons {
    padding: 22px 0 17px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.icon-set p {
    font-size: 16px;
}
.icon-set p i {
    margin-right: 8px;
}


.navbar {
    position: relative;
    min-height: 80px;
    padding: 15px 0;
    margin-bottom: 20px;
    border: none;
}

.navbar-default .navbar-brand {
    color: #0277BD;
}
.navbar-default .navbar-brand:hover {
    color: #01579B;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #0277BD;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #01579B;
}


@media (min-width: 768px) {
    .navbar-nav>li>a {
        border-radius: 2px;
    }
}

/* Color Palette */
.color-palette {
    padding: 0;
}
.color-palette > div {
    height: 164px;
    padding: 8px;
}

.color-palette > div > div {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.color-palette .dropdown-toggle {
    display: block;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;

    margin-right: -8px;
    margin-top: -8px;

    padding: 0;
    border-radius: 50%;
}

.color-palette .dropdown-toggle.mdc-text-black-darker:hover,
.color-palette .dropdown-toggle.mdc-text-black-darker:focus {
    background-color: rgba(0,0,0,.12);
}
.color-palette .dropdown-toggle.mdc-text-white-darker:hover,
.color-palette .dropdown-toggle.mdc-text-white-darker:focus {
    background-color: rgba(255,255,255,.26);
}

/* typo */
.title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: inherit;
}
.subhead {
    font-size: 13px;
    line-height: 32px;
    font-weight: 300;
    text-transform: inherit;
}

h4.page-header {
    margin: 10px 0 10px;
}

/* dropdown */
.dropdown {
    display: inline-block;
}
.dropdown-menu {
    top: 0;
    right: 0;
    left: auto;
    min-width: 160px;
    margin: 0;
    padding: 0.4rem 0;
    border: 0;
    border-radius: 0;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.dropdown-menu .divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 0.4rem 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.12);
}
.dropdown-menu > li > a {
    padding: 0.8rem 1.6rem;
    line-height: inherit;
    color: #757575;
    background-color: transparent;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a.hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #212121;
    background-color: rgba(0, 0, 0, 0.12);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus {
    color: #212121;
    background-color: transparent;
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover,
.dropdown-menu .disabled > a:focus {
    color: #e0e0e0;
}
.dropdown-header {
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.66666667;
    letter-spacing: 0.01rem;
    color: #212121;
}
.dropup .dropdown-menu {
    bottom: 0;
    margin: 0;
}

/* animation */
@keyframes display {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@-o-keyframes display {
    from {
        -o-transform: scale(0);
    }
    to {
        -o-transform: scale(1);
    }
}
@-ms-keyframes display {
    from {
        -ms-transform: scale(0);
    }
    to {
        -ms-transform: scale(1);
    }
}
@-moz-keyframes display {
    from {
        -moz-transform: scale(0);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes display {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

/* display animation */
.display-animation > div {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.display-animation.animated > div {
    -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -moz-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -o-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.no-js .display-animation > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* snackbar */
#snackbar-container {
    position: fixed;
    right: 1.6rem;
    bottom: 0;
    z-index: 99999;
}
.snackbar {
    overflow: hidden;
    clear: both;
    height: 0;
    min-width: 28.8rem;
    max-width: 56.8rem;
    cursor: pointer;
    opacity: 0;
}
.snackbar.is-open {
    height: auto;
    opacity: 1;
    padding: 1.5rem 2.4rem;
    margin-bottom: 1.6rem;
}
@media (max-width: 991px) {
    #snackbar-container {
        left: 0;
        right: 0;
        width: 100%;
    }
    #snackbar-container .snackbar {
        min-width: 100%;
        margin-bottom: 0;
    }
    #snackbar-container .snackbar.is-open ~ .snackbar.toast {
        margin-top: 1.6rem;
    }
    #snackbar-container .snackbar.is-open {
        border-radius: 0;
        margin-bottom: 0;
    }
}
.snackbar {
    background-color: #323232;
    border: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s ease-in, padding 0 linear 0.3s;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in, padding 0 linear 0.3s;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in, padding 0 linear 0.3s;
    -webkit-transform: translate(0, 200%);
    -ms-transform: translate(0, 200%);
    -o-transform: translate(0, 200%);
    transform: translate(0, 200%);
}
.snackbar.is-open {
    -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s ease-in;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
}
.snackbar.toast {
    border-radius: 200px;
}

/* sidebar */
.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
    color: #03A9F4;
    border-left: 1px solid #03A9F4;
}
.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 500;
    color: #03A9F4;
    border-left: 2px solid #03A9F4;
}

/* footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.3;
    color: #757575;
    text-align: center;
}