.#{$zmdi-icon-prefix}-shopping-cart-plus {
  &:before {
    content: $zmdi-var-shopping-cart-add;
  }
}
.#{$zmdi-icon-prefix}-comment-alert {
  &:before {
    content: $zmdi-var-comment-sign;
  }
}
.#{$zmdi-icon-prefix}-file-plus {
  &:before {
    content: $zmdi-var-file-add;
  }
}
.#{$zmdi-icon-prefix}-calendar-account {
  &:before {
    content: $zmdi-var-account-calendar;
  }
}
.#{$zmdi-icon-prefix}-network-wifi-info {
  &:before {
    content: $zmdi-var-network-wifi-scan;
  }
}
.#{$zmdi-icon-prefix}-swap-vertical {
  &:before {
    content: $zmdi-var-swap-vertical-;
  }
}
.#{$zmdi-icon-prefix}-collection-plus {
  &:before {
    content: $zmdi-var-collection-add;
  }
}
.#{$zmdi-icon-prefix}-playlist-plus {
  &:before {
    content: $zmdi-var-format-playlist-add;
  }
}
.#{$zmdi-icon-prefix}-playlist-audio {
  &:before {
    content: $zmdi-var-format-queue-music;
  }
}
.#{$zmdi-icon-prefix}-plus-square {
  &:before {
    content: $zmdi-var-plus-box;
  }
}
.#{$zmdi-icon-prefix}-tag-close {
  &:before {
    content: $zmdi-var-tag-backspace;
  }
}
.#{$zmdi-icon-prefix}-paste {
  &:before {
    content: $zmdi-var-assignment-o;
  }
}
.#{$zmdi-icon-prefix}-alarm-plus {
  &:before {
    content: $zmdi-var-alarm-add;
  }
}
.#{$zmdi-icon-prefix}-airplane-off {
  &:before {
    content: $zmdi-var-airplanemode-inactive;
  }
}
.#{$zmdi-icon-prefix}-airplane {
  &:before {
    content: $zmdi-var-airplanemode-active;
  }
}
.#{$zmdi-icon-prefix}-battery-flash {
  &:before {
    content: $zmdi-var-battery-charging;
  }
}
.#{$zmdi-icon-prefix}-smartphone-code {
  &:before {
    content: $zmdi-var-code-smartphone;
  }
}
.#{$zmdi-icon-prefix}-cloud-box {
  &:before {
    content: $zmdi-var-daydream-setting;
  }
}
.#{$zmdi-icon-prefix}-network-alert {
  &:before {
    content: $zmdi-var-network-warning;
  }
}
.#{$zmdi-icon-prefix}-more {
  &:before {
    content: $zmdi-var-more-horiz;
  }
}
.#{$zmdi-icon-prefix}-book-image {
  &:before {
    content: $zmdi-var-book-photo;
  }
}
.#{$zmdi-icon-prefix}-lamp {
  &:before {
    content: $zmdi-var-incandescent;
  }
}
.#{$zmdi-icon-prefix}-iridescent {
  &:before {
    content: $zmdi-var-wb-iridescent;
  }
}
.#{$zmdi-icon-prefix}-calendar-close {
  &:before {
    content: $zmdi-var-calendar-remove;
  }
}
.#{$zmdi-icon-prefix}-refresh-sync-off {
  &:before {
    content: $zmdi-var-refresh-sync-disabled;
  }
}
.#{$zmdi-icon-prefix}-refresh-sync-alert {
  &:before {
    content: $zmdi-var-refresh-sync-problem;
  }
}