// Icon sizes
// -------------------------

.#{$md-css-prefix}-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.#{$md-css-prefix}-2x { font-size: 2em !default; }
.#{$md-css-prefix}-3x { font-size: 3em !default; }
.#{$md-css-prefix}-4x { font-size: 4em !default; }
.#{$md-css-prefix}-5x { font-size: 5em !default; }