// Variables
// --------------------------
$md-font-path: "../fonts";
$md-css-prefix: md;
$md-version: "1.1.1";

$md-border-color: gray;

// actions
$md-var-3d-rotation: "\f000";
$md-var-accessibility: "\f001";
$md-var-account-balance: "\f002";
$md-var-account-balance-wallet: "\f003";
$md-var-account-box: "\f004";
$md-var-account-child: "\f005";
$md-var-account-circle: "\f006";
$md-var-add-shopping-cart: "\f007";
$md-var-alarm: "\f008";
$md-var-alarm-add: "\f009";
$md-var-alarm-off: "\f00a";
$md-var-alarm-on: "\f00b";
$md-var-android: "\f00c";
$md-var-announcement: "\f00d";
$md-var-aspect-ratio: "\f00e";
$md-var-assessment: "\f00f";
$md-var-assignment: "\f010";
$md-var-assignment-ind: "\f011";
$md-var-assignment-late: "\f012";
$md-var-assignment-return: "\f013";
$md-var-assignment-returned: "\f014";
$md-var-assignment-turned-in: "\f015";
$md-var-autorenew: "\f016";
$md-var-backup: "\f017";
$md-var-book: "\f018";
$md-var-bookmark: "\f019";
$md-var-bookmark-outline: "\f01a";
$md-var-bug-report: "\f01b";
$md-var-cached: "\f01c";
$md-var-class: "\f01d";
$md-var-credit-card: "\f01e";
$md-var-dashboard: "\f01f";
$md-var-delete: "\f020";
$md-var-description: "\f021";
$md-var-dns: "\f022";
$md-var-done: "\f023";
$md-var-done-all: "\f024";
$md-var-event: "\f025";
$md-var-exit-to-app: "\f026";
$md-var-explore: "\f027";
$md-var-extension: "\f028";
$md-var-face-unlock: "\f029";
$md-var-favorite: "\f02a";
$md-var-favorite-outline: "\f02b";
$md-var-find-in-page: "\f02c";
$md-var-find-replace: "\f02d";
$md-var-flip-to-back: "\f02e";
$md-var-flip-to-front: "\f02f";
$md-var-get-app: "\f030";
$md-var-grade: "\f031";
$md-var-group-work: "\f032";
$md-var-help: "\f033";
$md-var-highlight-remove: "\f034";
$md-var-history: "\f035";
$md-var-home: "\f036";
$md-var-https: "\f037";
$md-var-info: "\f038";
$md-var-info-outline: "\f039";
$md-var-input: "\f03a";
$md-var-invert-colors: "\f03b";
$md-var-label: "\f03c";
$md-var-label-outline: "\f03d";
$md-var-language: "\f03e";
$md-var-launch: "\f03f";
$md-var-list: "\f040";
$md-var-lock: "\f041";
$md-var-lock-open: "\f042";
$md-var-lock-outline: "\f043";
$md-var-loyalty: "\f044";
$md-var-markunread-mailbox: "\f045";
$md-var-note-add: "\f046";
$md-var-open-in-browser: "\f047";
$md-var-open-in-new: "\f048";
$md-var-open-with: "\f049";
$md-var-pageview: "\f04a";
$md-var-payment: "\f04b";
$md-var-perm-camera-mic: "\f04c";
$md-var-perm-contact-cal: "\f04d";
$md-var-perm-data-setting: "\f04e";
$md-var-perm-device-info: "\f04f";
$md-var-perm-identity: "\f050";
$md-var-perm-media: "\f051";
$md-var-perm-phone-msg: "\f052";
$md-var-perm-scan-wifi: "\f053";
$md-var-picture-in-picture: "\f054";
$md-var-polymer: "\f055";
$md-var-print: "\f056";
$md-var-query-builder: "\f057";
$md-var-question-answer: "\f058";
$md-var-receipt: "\f059";
$md-var-redeem: "\f05a";
$md-var-report-problem: "\f05b";
$md-var-restore: "\f05c";
$md-var-room: "\f05d";
$md-var-schedule: "\f05e";
$md-var-search: "\f05f";
$md-var-settings: "\f060";
$md-var-settings-applications: "\f061";
$md-var-settings-backup-restore: "\f062";
$md-var-settings-bluetooth: "\f063";
$md-var-settings-cell: "\f064";
$md-var-settings-display: "\f065";
$md-var-settings-ethernet: "\f066";
$md-var-settings-input-antenna: "\f067";
$md-var-settings-input-component: "\f068";
$md-var-settings-input-composite: "\f069";
$md-var-settings-input-hdmi: "\f06a";
$md-var-settings-input-svideo: "\f06b";
$md-var-settings-overscan: "\f06c";
$md-var-settings-phone: "\f06d";
$md-var-settings-power: "\f06e";
$md-var-settings-remote: "\f06f";
$md-var-settings-voice: "\f070";
$md-var-shop: "\f071";
$md-var-shopping-basket: "\f072";
$md-var-shopping-cart: "\f073";
$md-var-shop-two: "\f074";
$md-var-speaker-notes: "\f075";
$md-var-spellcheck: "\f076";
$md-var-star-rate: "\f077";
$md-var-stars: "\f078";
$md-var-store: "\f079";
$md-var-subject: "\f07a";
$md-var-swap-horiz: "\f07b";
$md-var-swap-vert: "\f07c";
$md-var-swap-vert-circle: "\f07d";
$md-var-system-update-tv: "\f07e";
$md-var-tab: "\f07f";
$md-var-tab-unselected: "\f080";
$md-var-theaters: "\f081";
$md-var-thumb-down: "\f082";
$md-var-thumbs-up-down: "\f083";
$md-var-thumb-up: "\f084";
$md-var-toc: "\f085";
$md-var-today: "\f086";
$md-var-track-changes: "\f087";
$md-var-translate: "\f088";
$md-var-trending-down: "\f089";
$md-var-trending-neutral: "\f08a";
$md-var-trending-up: "\f08b";
$md-var-turned-in: "\f08c";
$md-var-turned-in-not: "\f08d";
$md-var-verified-user: "\f08e";
$md-var-view-agenda: "\f08f";
$md-var-view-array: "\f090";
$md-var-view-carousel: "\f091";
$md-var-view-column: "\f092";
$md-var-view-day: "\f093";
$md-var-view-headline: "\f094";
$md-var-view-list: "\f095";
$md-var-view-module: "\f096";
$md-var-view-quilt: "\f097";
$md-var-view-stream: "\f098";
$md-var-view-week: "\f099";
$md-var-visibility: "\f09a";
$md-var-visibility-off: "\f09b";
$md-var-wallet-giftcard: "\f09c";
$md-var-wallet-membership: "\f09d";
$md-var-wallet-travel: "\f09e";
$md-var-work: "\f09f";

// alert
$md-var-error: "\f0a0";
$md-var-warning: "\f0a1";

// audio-video
$md-var-album: "\f0a2";
$md-var-av-timer: "\f0a3";
$md-var-closed-caption: "\f0a4";
$md-var-equalizer: "\f0a5";
$md-var-explicit: "\f0a6";
$md-var-fast-forward: "\f0a7";
$md-var-fast-rewind: "\f0a8";
$md-var-games: "\f0a9";
$md-var-hearing: "\f0aa";
$md-var-high-quality: "\f0ab";
$md-var-loop: "\f0ac";
$md-var-mic: "\f0ad";
$md-var-mic-none: "\f0ae";
$md-var-mic-off: "\f0af";
$md-var-movie: "\f0b0";
$md-var-my-library-add: "\f0b1";
$md-var-my-library-books: "\f0b2";
$md-var-my-library-music: "\f0b3";
$md-var-new-releases: "\f0b4";
$md-var-not-interested: "\f0b5";
$md-var-pause: "\f0b6";
$md-var-pause-circle-fill: "\f0b7";
$md-var-pause-circle-outline: "\f0b8";
$md-var-play-arrow: "\f0b9";
$md-var-play-circle-fill: "\f0ba";
$md-var-play-circle-outline: "\f0bb";
$md-var-playlist-add: "\f0bc";
$md-var-play-shopping-bag: "\f0bd";
$md-var-queue: "\f0be";
$md-var-queue-music: "\f0bf";
$md-var-radio: "\f0c0";
$md-var-recent-actors: "\f0c1";
$md-var-repeat: "\f0c2";
$md-var-repeat-one: "\f0c3";
$md-var-replay: "\f0c4";
$md-var-shuffle: "\f0c5";
$md-var-skip-next: "\f0c6";
$md-var-skip-previous: "\f0c7";
$md-var-snooze: "\f0c8";
$md-var-stop: "\f0c9";
$md-var-subtitles: "\f0ca";
$md-var-surround-sound: "\f0cb";
$md-var-videocam: "\f0cc";
$md-var-videocam-off: "\f0cd";
$md-var-video-collection: "\f0ce";
$md-var-volume-down: "\f0cf";
$md-var-volume-mute: "\f0d0";
$md-var-volume-off: "\f0d1";
$md-var-volume-up: "\f0d2";
$md-var-web: "\f0d3";

// communication
$md-var-business: "\f0d4";
$md-var-call: "\f0d5";
$md-var-call-end: "\f0d6";
$md-var-call-made: "\f0d7";
$md-var-call-merge: "\f0d8";
$md-var-call-missed: "\f0d9";
$md-var-call-received: "\f0da";
$md-var-call-split: "\f0db";
$md-var-chat: "\f0dc";
$md-var-clear-all: "\f0dd";
$md-var-comment: "\f0de";
$md-var-contacts: "\f0df";
$md-var-dialer-sip: "\f0e0";
$md-var-dialpad: "\f0e1";
$md-var-dnd-on: "\f0e2";
$md-var-email: "\f0e3";
$md-var-forum: "\f0e4";
$md-var-import-export: "\f0e5";
$md-var-invert-colors-off: "\f0e6";
$md-var-invert-colors-on: "\f0e7";
$md-var-live-help: "\f0e8";
$md-var-location-off: "\f0e9";
$md-var-location-on: "\f0ea";
$md-var-message: "\f0eb";
$md-var-messenger: "\f0ec";
$md-var-no-sim: "\f0ed";
$md-var-phone: "\f0ee";
$md-var-portable-wifi-off: "\f0ef";
$md-var-quick-contacts-dialer: "\f0f0";
$md-var-quick-contacts-mail: "\f0f1";
$md-var-ring-volume: "\f0f2";
$md-var-stay-current-landscape: "\f0f3";
$md-var-stay-current-portrait: "\f0f4";
$md-var-stay-primary-landscape: "\f0f5";
$md-var-stay-primary-portrait: "\f0f6";
$md-var-swap-calls: "\f0f7";
$md-var-textsms: "\f0f8";
$md-var-voicemail: "\f0f9";
$md-var-vpn-key: "\f0fa";

// content
$md-var-add: "\f0fb";
$md-var-add-box: "\f0fc";
$md-var-add-circle: "\f0fd";
$md-var-add-circle-outline: "\f0fe";
$md-var-archive: "\f0ff";
$md-var-backspace: "\f100";
$md-var-block: "\f101";
$md-var-clear: "\f102";
$md-var-content-copy: "\f103";
$md-var-content-cut: "\f104";
$md-var-content-paste: "\f105";
$md-var-create: "\f106";
$md-var-drafts: "\f107";
$md-var-filter-list: "\f108";
$md-var-flag: "\f109";
$md-var-forward: "\f10a";
$md-var-gesture: "\f10b";
$md-var-inbox: "\f10c";
$md-var-link: "\f10d";
$md-var-mail: "\f10e";
$md-var-markunread: "\f10f";
$md-var-redo: "\f110";
$md-var-remove: "\f111";
$md-var-remove-circle: "\f112";
$md-var-remove-circle-outline: "\f113";
$md-var-reply: "\f114";
$md-var-reply-all: "\f115";
$md-var-report: "\f116";
$md-var-save: "\f117";
$md-var-select-all: "\f118";
$md-var-send: "\f119";
$md-var-sort: "\f11a";
$md-var-text-format: "\f11b";
$md-var-undo: "\f11c";

// device
$md-var-access-alarm: "\f11d";
$md-var-access-alarms: "\f11e";
$md-var-access-time: "\f11f";
$md-var-add-alarm: "\f120";
$md-var-airplanemode-off: "\f121";
$md-var-airplanemode-on: "\f122";
$md-var-battery-20: "\f123";
$md-var-battery-30: "\f124";
$md-var-battery-50: "\f125";
$md-var-battery-60: "\f126";
$md-var-battery-80: "\f127";
$md-var-battery-90: "\f128";
$md-var-battery-alert: "\f129";
$md-var-battery-charging-20: "\f12a";
$md-var-battery-charging-30: "\f12b";
$md-var-battery-charging-50: "\f12c";
$md-var-battery-charging-60: "\f12d";
$md-var-battery-charging-80: "\f12e";
$md-var-battery-charging-90: "\f12f";
$md-var-battery-charging-full: "\f130";
$md-var-battery-full: "\f131";
$md-var-battery-std: "\f132";
$md-var-battery-unknown: "\f133";
$md-var-bluetooth: "\f134";
$md-var-bluetooth-connected: "\f135";
$md-var-bluetooth-disabled: "\f136";
$md-var-bluetooth-searching: "\f137";
$md-var-brightness-auto: "\f138";
$md-var-brightness-high: "\f139";
$md-var-brightness-low: "\f13a";
$md-var-brightness-medium: "\f13b";
$md-var-data-usage: "\f13c";
$md-var-developer-mode: "\f13d";
$md-var-devices: "\f13e";
$md-var-dvr: "\f13f";
$md-var-gps-fixed: "\f140";
$md-var-gps-not-fixed: "\f141";
$md-var-gps-off: "\f142";
$md-var-location-disabled: "\f143";
$md-var-location-searching: "\f144";
$md-var-multitrack-audio: "\f145";
$md-var-network-cell: "\f146";
$md-var-network-wifi: "\f147";
$md-var-nfc: "\f148";
$md-var-now-wallpaper: "\f149";
$md-var-now-widgets: "\f14a";
$md-var-screen-lock-landscape: "\f14b";
$md-var-screen-lock-portrait: "\f14c";
$md-var-screen-lock-rotation: "\f14d";
$md-var-screen-rotation: "\f14e";
$md-var-sd-storage: "\f14f";
$md-var-settings-system-daydream: "\f150";
$md-var-signal-cellular-0-bar: "\f151";
$md-var-signal-cellular-1-bar: "\f152";
$md-var-signal-cellular-2-bar: "\f153";
$md-var-signal-cellular-3-bar: "\f154";
$md-var-signal-cellular-4-bar: "\f155";
$md-var-signal-cellular-connected-no-internet-0-bar: "\f156";
$md-var-signal-cellular-connected-no-internet-1-bar: "\f157";
$md-var-signal-cellular-connected-no-internet-2-bar: "\f158";
$md-var-signal-cellular-connected-no-internet-3-bar: "\f159";
$md-var-signal-cellular-connected-no-internet-4-bar: "\f15a";
$md-var-signal-cellular-no-sim: "\f15b";
$md-var-signal-cellular-null: "\f15c";
$md-var-signal-cellular-off: "\f15d";
$md-var-signal-wifi-0-bar: "\f15e";
$md-var-signal-wifi-1-bar: "\f15f";
$md-var-signal-wifi-2-bar: "\f160";
$md-var-signal-wifi-3-bar: "\f161";
$md-var-signal-wifi-4-bar: "\f162";
$md-var-signal-wifi-off: "\f163";
$md-var-storage: "\f164";
$md-var-usb: "\f165";
$md-var-wifi-lock: "\f166";
$md-var-wifi-tethering: "\f167";

// editor
$md-var-attach-file: "\f168";
$md-var-attach-money: "\f169";
$md-var-border-all: "\f16a";
$md-var-border-bottom: "\f16b";
$md-var-border-clear: "\f16c";
$md-var-border-color: "\f16d";
$md-var-border-horizontal: "\f16e";
$md-var-border-inner: "\f16f";
$md-var-border-left: "\f170";
$md-var-border-outer: "\f171";
$md-var-border-right: "\f172";
$md-var-border-style: "\f173";
$md-var-border-top: "\f174";
$md-var-border-vertical: "\f175";
$md-var-format-align-center: "\f176";
$md-var-format-align-justify: "\f177";
$md-var-format-align-left: "\f178";
$md-var-format-align-right: "\f179";
$md-var-format-bold: "\f17a";
$md-var-format-clear: "\f17b";
$md-var-format-color-fill: "\f17c";
$md-var-format-color-reset: "\f17d";
$md-var-format-color-text: "\f17e";
$md-var-format-indent-decrease: "\f17f";
$md-var-format-indent-increase: "\f180";
$md-var-format-italic: "\f181";
$md-var-format-line-spacing: "\f182";
$md-var-format-list-bulleted: "\f183";
$md-var-format-list-numbered: "\f184";
$md-var-format-paint: "\f185";
$md-var-format-quote: "\f186";
$md-var-format-size: "\f187";
$md-var-format-strikethrough: "\f188";
$md-var-format-textdirection-l-to-r: "\f189";
$md-var-format-textdirection-r-to-l: "\f18a";
$md-var-format-underline: "\f18b";
$md-var-functions: "\f18c";
$md-var-insert-chart: "\f18d";
$md-var-insert-comment: "\f18e";
$md-var-insert-drive-file: "\f18f";
$md-var-insert-emoticon: "\f190";
$md-var-insert-invitation: "\f191";
$md-var-insert-link: "\f192";
$md-var-insert-photo: "\f193";
$md-var-merge-type: "\f194";
$md-var-mode-comment: "\f195";
$md-var-mode-edit: "\f196";
$md-var-publish: "\f197";
$md-var-vertical-align-bottom: "\f198";
$md-var-vertical-align-center: "\f199";
$md-var-vertical-align-top: "\f19a";
$md-var-wrap-text: "\f19b";

// file
$md-var-attachment: "\f19c";
$md-var-cloud: "\f19d";
$md-var-cloud-circle: "\f19e";
$md-var-cloud-done: "\f19f";
$md-var-cloud-download: "\f1a0";
$md-var-cloud-off: "\f1a1";
$md-var-cloud-queue: "\f1a2";
$md-var-cloud-upload: "\f1a3";
$md-var-file-download: "\f1a4";
$md-var-file-upload: "\f1a5";
$md-var-folder: "\f1a6";
$md-var-folder-open: "\f1a7";
$md-var-folder-shared: "\f1a8";

// hardware
$md-var-cast: "\f1a9";
$md-var-cast-connected: "\f1aa";
$md-var-computer: "\f1ab";
$md-var-desktop-mac: "\f1ac";
$md-var-desktop-windows: "\f1ad";
$md-var-dock: "\f1ae";
$md-var-gamepad: "\f1af";
$md-var-headset: "\f1b0";
$md-var-headset-mic: "\f1b1";
$md-var-keyboard: "\f1b2";
$md-var-keyboard-alt: "\f1b3";
$md-var-keyboard-arrow-down: "\f1b4";
$md-var-keyboard-arrow-left: "\f1b5";
$md-var-keyboard-arrow-right: "\f1b6";
$md-var-keyboard-arrow-up: "\f1b7";
$md-var-keyboard-backspace: "\f1b8";
$md-var-keyboard-capslock: "\f1b9";
$md-var-keyboard-control: "\f1ba";
$md-var-keyboard-hide: "\f1bb";
$md-var-keyboard-return: "\f1bc";
$md-var-keyboard-tab: "\f1bd";
$md-var-keyboard-voice: "\f1be";
$md-var-laptop: "\f1bf";
$md-var-laptop-chromebook: "\f1c0";
$md-var-laptop-mac: "\f1c1";
$md-var-laptop-windows: "\f1c2";
$md-var-memory: "\f1c3";
$md-var-mouse: "\f1c4";
$md-var-phone-android: "\f1c5";
$md-var-phone-iphone: "\f1c6";
$md-var-phonelink: "\f1c7";
$md-var-phonelink-off: "\f1c8";
$md-var-security: "\f1c9";
$md-var-sim-card: "\f1ca";
$md-var-smartphone: "\f1cb";
$md-var-speaker: "\f1cc";
$md-var-tablet: "\f1cd";
$md-var-tablet-android: "\f1ce";
$md-var-tablet-mac: "\f1cf";
$md-var-tv: "\f1d0";
$md-var-watch: "\f1d1";

// image
$md-var-add-to-photos: "\f1d2";
$md-var-adjust: "\f1d3";
$md-var-assistant-photo: "\f1d4";
$md-var-audiotrack: "\f1d5";
$md-var-blur-circular: "\f1d6";
$md-var-blur-linear: "\f1d7";
$md-var-blur-off: "\f1d8";
$md-var-blur-on: "\f1d9";
$md-var-brightness-1: "\f1da";
$md-var-brightness-2: "\f1db";
$md-var-brightness-3: "\f1dc";
$md-var-brightness-4: "\f1dd";
$md-var-brightness-5: "\f1de";
$md-var-brightness-6: "\f1df";
$md-var-brightness-7: "\f1e0";
$md-var-brush: "\f1e1";
$md-var-camera: "\f1e2";
$md-var-camera-alt: "\f1e3";
$md-var-camera-front: "\f1e4";
$md-var-camera-rear: "\f1e5";
$md-var-camera-roll: "\f1e6";
$md-var-center-focus-strong: "\f1e7";
$md-var-center-focus-weak: "\f1e8";
$md-var-collections: "\f1e9";
$md-var-colorize: "\f1ea";
$md-var-color-lens: "\f1eb";
$md-var-compare: "\f1ec";
$md-var-control-point: "\f1ed";
$md-var-control-point-duplicate: "\f1ee";
$md-var-crop: "\f1ef";
$md-var-crop-3-2: "\f1f0";
$md-var-crop-5-4: "\f1f1";
$md-var-crop-7-5: "\f1f2";
$md-var-crop-16-9: "\f1f3";
$md-var-crop-din: "\f1f4";
$md-var-crop-free: "\f1f5";
$md-var-crop-landscape: "\f1f6";
$md-var-crop-original: "\f1f7";
$md-var-crop-portrait: "\f1f8";
$md-var-crop-square: "\f1f9";
$md-var-dehaze: "\f1fa";
$md-var-details: "\f1fb";
$md-var-edit: "\f1fc";
$md-var-exposure: "\f1fd";
$md-var-exposure-minus-1: "\f1fe";
$md-var-exposure-minus-2: "\f1ff";
$md-var-exposure-zero: "\f200";
$md-var-exposure-plus-1: "\f201";
$md-var-exposure-plus-2: "\f202";
$md-var-filter: "\f203";
$md-var-filter-1: "\f204";
$md-var-filter-2: "\f205";
$md-var-filter-3: "\f206";
$md-var-filter-4: "\f207";
$md-var-filter-5: "\f208";
$md-var-filter-6: "\f209";
$md-var-filter-7: "\f20a";
$md-var-filter-8: "\f20b";
$md-var-filter-9: "\f20c";
$md-var-filter-9-plus: "\f20d";
$md-var-filter-b-and-w: "\f20e";
$md-var-filter-center-focus: "\f20f";
$md-var-filter-drama: "\f210";
$md-var-filter-frames: "\f211";
$md-var-filter-hdr: "\f212";
$md-var-filter-none: "\f213";
$md-var-filter-tilt-shift: "\f214";
$md-var-filter-vintage: "\f215";
$md-var-flare: "\f216";
$md-var-flash-auto: "\f217";
$md-var-flash-off: "\f218";
$md-var-flash-on: "\f219";
$md-var-flip: "\f21a";
$md-var-gradient: "\f21b";
$md-var-grain: "\f21c";
$md-var-grid-off: "\f21d";
$md-var-grid-on: "\f21e";
$md-var-hdr-off: "\f21f";
$md-var-hdr-on: "\f220";
$md-var-hdr-strong: "\f221";
$md-var-hdr-weak: "\f222";
$md-var-healing: "\f223";
$md-var-image: "\f224";
$md-var-image-aspect-ratio: "\f225";
$md-var-iso: "\f226";
$md-var-landscape: "\f227";
$md-var-leak-add: "\f228";
$md-var-leak-remove: "\f229";
$md-var-lens: "\f22a";
$md-var-looks: "\f22b";
$md-var-looks-1: "\f22c";
$md-var-looks-2: "\f22d";
$md-var-looks-3: "\f22e";
$md-var-looks-4: "\f22f";
$md-var-looks-5: "\f230";
$md-var-looks-6: "\f231";
$md-var-loupe: "\f232";
$md-var-movie-creation: "\f233";
$md-var-nature: "\f234";
$md-var-nature-people: "\f235";
$md-var-navigate-before: "\f236";
$md-var-navigate-next: "\f237";
$md-var-palette: "\f238";
$md-var-panorama: "\f239";
$md-var-panorama-fisheye: "\f23a";
$md-var-panorama-horizontal: "\f23b";
$md-var-panorama-vertical: "\f23c";
$md-var-panorama-wide-angle: "\f23d";
$md-var-photo: "\f23e";
$md-var-photo-album: "\f23f";
$md-var-photo-camera: "\f240";
$md-var-photo-library: "\f241";
$md-var-portrait: "\f242";
$md-var-remove-red-eye: "\f243";
$md-var-rotate-left: "\f244";
$md-var-rotate-right: "\f245";
$md-var-slideshow: "\f246";
$md-var-straighten: "\f247";
$md-var-style: "\f248";
$md-var-switch-camera: "\f249";
$md-var-switch-video: "\f24a";
$md-var-tag-faces: "\f24b";
$md-var-texture: "\f24c";
$md-var-timelapse: "\f24d";
$md-var-timer: "\f24e";
$md-var-timer-3: "\f24f";
$md-var-timer-10: "\f250";
$md-var-timer-auto: "\f251";
$md-var-timer-off: "\f252";
$md-var-tonality: "\f253";
$md-var-transform: "\f254";
$md-var-tune: "\f255";
$md-var-wb-auto: "\f256";
$md-var-wb-cloudy: "\f257";
$md-var-wb-incandescent: "\f258";
$md-var-wb-irradescent: "\f259";
$md-var-wb-sunny: "\f25a";

// maps
$md-var-beenhere: "\f25b";
$md-var-directions: "\f25c";
$md-var-directions-bike: "\f25d";
$md-var-directions-bus: "\f25e";
$md-var-directions-car: "\f25f";
$md-var-directions-ferry: "\f260";
$md-var-directions-subway: "\f261";
$md-var-directions-train: "\f262";
$md-var-directions-transit: "\f263";
$md-var-directions-walk: "\f264";
$md-var-flight: "\f265";
$md-var-hotel: "\f266";
$md-var-layers: "\f267";
$md-var-layers-clear: "\f268";
$md-var-local-airport: "\f269";
$md-var-local-atm: "\f26a";
$md-var-local-attraction: "\f26b";
$md-var-local-bar: "\f26c";
$md-var-local-cafe: "\f26d";
$md-var-local-car-wash: "\f26e";
$md-var-local-convenience-store: "\f26f";
$md-var-local-drink: "\f270";
$md-var-local-florist: "\f271";
$md-var-local-gas-station: "\f272";
$md-var-local-grocery-store: "\f273";
$md-var-local-hospital: "\f274";
$md-var-local-hotel: "\f275";
$md-var-local-laundry-service: "\f276";
$md-var-local-library: "\f277";
$md-var-local-mall: "\f278";
$md-var-local-movies: "\f279";
$md-var-local-offer: "\f27a";
$md-var-local-parking: "\f27b";
$md-var-local-pharmacy: "\f27c";
$md-var-local-phone: "\f27d";
$md-var-local-pizza: "\f27e";
$md-var-local-play: "\f27f";
$md-var-local-post-office: "\f280";
$md-var-local-print-shop: "\f281";
$md-var-local-restaurant: "\f282";
$md-var-local-see: "\f283";
$md-var-local-shipping: "\f284";
$md-var-local-taxi: "\f285";
$md-var-location-history: "\f286";
$md-var-map: "\f287";
$md-var-my-location: "\f288";
$md-var-navigation: "\f289";
$md-var-pin-drop: "\f28a";
$md-var-place: "\f28b";
$md-var-rate-review: "\f28c";
$md-var-restaurant-menu: "\f28d";
$md-var-satellite: "\f28e";
$md-var-store-mall-directory: "\f28f";
$md-var-terrain: "\f290";
$md-var-traffic: "\f291";

// navigation
$md-var-apps: "\f292";
$md-var-cancel: "\f293";
$md-var-arrow-drop-down-circle: "\f294";
$md-var-arrow-drop-down: "\f295";
$md-var-arrow-drop-up: "\f296";
$md-var-arrow-back: "\f297";
$md-var-arrow-forward: "\f298";
$md-var-check: "\f299";
$md-var-close: "\f29a";
$md-var-chevron-left: "\f29b";
$md-var-chevron-right: "\f29c";
$md-var-expand-less: "\f29d";
$md-var-expand-more: "\f29e";
$md-var-fullscreen: "\f29f";
$md-var-fullscreen-exit: "\f2a0";
$md-var-menu: "\f2a1";
$md-var-more-horiz: "\f2a2";
$md-var-more-vert: "\f2a3";
$md-var-refresh: "\f2a4";
$md-var-unfold-less: "\f2a5";
$md-var-unfold-more: "\f2a6";

// notification
$md-var-adb: "\f2a7";
$md-var-bluetooth-audio: "\f2a8";
$md-var-disc-full: "\f2a9";
$md-var-dnd-forwardslash: "\f2aa";
$md-var-do-not-disturb: "\f2ab";
$md-var-drive-eta: "\f2ac";
$md-var-event-available: "\f2ad";
$md-var-event-busy: "\f2ae";
$md-var-event-note: "\f2af";
$md-var-folder-special: "\f2b0";
$md-var-mms: "\f2b1";
$md-var-more: "\f2b2";
$md-var-network-locked: "\f2b3";
$md-var-phone-bluetooth-speaker: "\f2b4";
$md-var-phone-forwarded: "\f2b5";
$md-var-phone-in-talk: "\f2b6";
$md-var-phone-locked: "\f2b7";
$md-var-phone-missed: "\f2b8";
$md-var-phone-paused: "\f2b9";
$md-var-play-download: "\f2ba";
$md-var-play-install: "\f2bb";
$md-var-sd-card: "\f2bc";
$md-var-sim-card-alert: "\f2bd";
$md-var-sms: "\f2be";
$md-var-sms-failed: "\f2bf";
$md-var-sync: "\f2c0";
$md-var-sync-disabled: "\f2c1";
$md-var-sync-problem: "\f2c2";
$md-var-system-update: "\f2c3";
$md-var-tap-and-play: "\f2c4";
$md-var-time-to-leave: "\f2c5";
$md-var-vibration: "\f2c6";
$md-var-voice-chat: "\f2c7";
$md-var-vpn-lock: "\f2c8";

// social
$md-var-cake: "\f2c9";
$md-var-domain: "\f2ca";
$md-var-location-city: "\f2cb";
$md-var-mood: "\f2cc";
$md-var-notifications-none: "\f2cd";
$md-var-notifications: "\f2ce";
$md-var-notifications-off: "\f2cf";
$md-var-notifications-on: "\f2d0";
$md-var-notifications-paused: "\f2d1";
$md-var-pages: "\f2d2";
$md-var-party-mode: "\f2d3";
$md-var-group: "\f2d4";
$md-var-group-add: "\f2d5";
$md-var-people: "\f2d6";
$md-var-people-outline: "\f2d7";
$md-var-person: "\f2d8";
$md-var-person-add: "\f2d9";
$md-var-person-outline: "\f2da";
$md-var-plus-one: "\f2db";
$md-var-poll: "\f2dc";
$md-var-public: "\f2dd";
$md-var-school: "\f2de";
$md-var-share: "\f2df";
$md-var-whatshot: "\f2e0";

// toggle
$md-var-check-box: "\f2e1";
$md-var-check-box-outline-blank: "\f2e2";
$md-var-radio-button-off: "\f2e3";
$md-var-radio-button-on: "\f2e4";
$md-var-star: "\f2e5";
$md-var-star-half: "\f2e6";
$md-var-star-outline: "\f2e7";
