.#{$md-css-prefix}-3d-rotation:before {
  content: $md-var-3d-rotation;
}
.#{$md-css-prefix}-accessibility:before {
  content: $md-var-accessibility;
}
.#{$md-css-prefix}-account-balance:before {
  content: $md-var-account-balance;
}
.#{$md-css-prefix}-account-balance-wallet:before {
  content: $md-var-account-balance-wallet;
}
.#{$md-css-prefix}-account-box:before {
  content: $md-var-account-box;
}
.#{$md-css-prefix}-account-child:before {
  content: $md-var-account-child;
}
.#{$md-css-prefix}-account-circle:before {
  content: $md-var-account-circle;
}
.#{$md-css-prefix}-add-shopping-cart:before {
  content: $md-var-add-shopping-cart;
}
.#{$md-css-prefix}-alarm:before {
  content: $md-var-alarm;
}
.#{$md-css-prefix}-alarm-add:before {
  content: $md-var-alarm-add;
}
.#{$md-css-prefix}-alarm-off:before {
  content: $md-var-alarm-off;
}
.#{$md-css-prefix}-alarm-on:before {
  content: $md-var-alarm-on;
}
.#{$md-css-prefix}-android:before {
  content: $md-var-android;
}
.#{$md-css-prefix}-announcement:before {
  content: $md-var-announcement;
}
.#{$md-css-prefix}-aspect-ratio:before {
  content: $md-var-aspect-ratio;
}
.#{$md-css-prefix}-assessment:before {
  content: $md-var-assessment;
}
.#{$md-css-prefix}-assignment:before {
  content: $md-var-assignment;
}
.#{$md-css-prefix}-assignment-ind:before {
  content: $md-var-assignment-ind;
}
.#{$md-css-prefix}-assignment-late:before {
  content: $md-var-assignment-late;
}
.#{$md-css-prefix}-assignment-return:before {
  content: $md-var-assignment-return;
}
.#{$md-css-prefix}-assignment-returned:before {
  content: $md-var-assignment-returned;
}
.#{$md-css-prefix}-assignment-turned-in:before {
  content: $md-var-assignment-turned-in;
}
.#{$md-css-prefix}-autorenew:before {
  content: $md-var-autorenew;
}
.#{$md-css-prefix}-backup:before {
  content: $md-var-backup;
}
.#{$md-css-prefix}-book:before {
  content: $md-var-book;
}
.#{$md-css-prefix}-bookmark:before {
  content: $md-var-bookmark;
}
.#{$md-css-prefix}-bookmark-outline:before {
  content: $md-var-bookmark-outline;
}
.#{$md-css-prefix}-bug-report:before {
  content: $md-var-bug-report;
}
.#{$md-css-prefix}-cached:before {
  content: $md-var-cached;
}
.#{$md-css-prefix}-class:before {
  content: $md-var-class;
}
.#{$md-css-prefix}-credit-card:before {
  content: $md-var-credit-card;
}
.#{$md-css-prefix}-dashboard:before {
  content: $md-var-dashboard;
}
.#{$md-css-prefix}-delete:before {
  content: $md-var-delete;
}
.#{$md-css-prefix}-description:before {
  content: $md-var-description;
}
.#{$md-css-prefix}-dns:before {
  content: $md-var-dns;
}
.#{$md-css-prefix}-done:before {
  content: $md-var-done;
}
.#{$md-css-prefix}-done-all:before {
  content: $md-var-done-all;
}
.#{$md-css-prefix}-event:before {
  content: $md-var-event;
}
.#{$md-css-prefix}-exit-to-app:before {
  content: $md-var-exit-to-app;
}
.#{$md-css-prefix}-explore:before {
  content: $md-var-explore;
}
.#{$md-css-prefix}-extension:before {
  content: $md-var-extension;
}
.#{$md-css-prefix}-face-unlock:before {
  content: $md-var-face-unlock;
}
.#{$md-css-prefix}-favorite:before {
  content: $md-var-favorite;
}
.#{$md-css-prefix}-favorite-outline:before {
  content: $md-var-favorite-outline;
}
.#{$md-css-prefix}-find-in-page:before {
  content: $md-var-find-in-page;
}
.#{$md-css-prefix}-find-replace:before {
  content: $md-var-find-replace;
}
.#{$md-css-prefix}-flip-to-back:before {
  content: $md-var-flip-to-back;
}
.#{$md-css-prefix}-flip-to-front:before {
  content: $md-var-flip-to-front;
}
.#{$md-css-prefix}-get-app:before {
  content: $md-var-get-app;
}
.#{$md-css-prefix}-grade:before {
  content: $md-var-grade;
}
.#{$md-css-prefix}-group-work:before {
  content: $md-var-group-work;
}
.#{$md-css-prefix}-help:before {
  content: $md-var-help;
}
.#{$md-css-prefix}-highlight-remove:before {
  content: $md-var-highlight-remove;
}
.#{$md-css-prefix}-history:before {
  content: $md-var-history;
}
.#{$md-css-prefix}-home:before {
  content: $md-var-home;
}
.#{$md-css-prefix}-https:before {
  content: $md-var-https;
}
.#{$md-css-prefix}-info:before {
  content: $md-var-info;
}
.#{$md-css-prefix}-info-outline:before {
  content: $md-var-info-outline;
}
.#{$md-css-prefix}-input:before {
  content: $md-var-input;
}
.#{$md-css-prefix}-invert-colors:before {
  content: $md-var-invert-colors;
}
.#{$md-css-prefix}-label:before {
  content: $md-var-label;
}
.#{$md-css-prefix}-label-outline:before {
  content: $md-var-label-outline;
}
.#{$md-css-prefix}-language:before {
  content: $md-var-language;
}
.#{$md-css-prefix}-launch:before {
  content: $md-var-launch;
}
.#{$md-css-prefix}-list:before {
  content: $md-var-list;
}
.#{$md-css-prefix}-lock:before {
  content: $md-var-lock;
}
.#{$md-css-prefix}-lock-open:before {
  content: $md-var-lock-open;
}
.#{$md-css-prefix}-lock-outline:before {
  content: $md-var-lock-outline;
}
.#{$md-css-prefix}-loyalty:before {
  content: $md-var-loyalty;
}
.#{$md-css-prefix}-markunread-mailbox:before {
  content: $md-var-markunread-mailbox;
}
.#{$md-css-prefix}-note-add:before {
  content: $md-var-note-add;
}
.#{$md-css-prefix}-open-in-browser:before {
  content: $md-var-open-in-browser;
}
.#{$md-css-prefix}-open-in-new:before {
  content: $md-var-open-in-new;
}
.#{$md-css-prefix}-open-with:before {
  content: $md-var-open-with;
}
.#{$md-css-prefix}-pageview:before {
  content: $md-var-pageview;
}
.#{$md-css-prefix}-payment:before {
  content: $md-var-payment;
}
.#{$md-css-prefix}-perm-camera-mic:before {
  content: $md-var-perm-camera-mic;
}
.#{$md-css-prefix}-perm-contact-cal:before {
  content: $md-var-perm-contact-cal;
}
.#{$md-css-prefix}-perm-data-setting:before {
  content: $md-var-perm-data-setting;
}
.#{$md-css-prefix}-perm-device-info:before {
  content: $md-var-perm-device-info;
}
.#{$md-css-prefix}-perm-identity:before {
  content: $md-var-perm-identity;
}
.#{$md-css-prefix}-perm-media:before {
  content: $md-var-perm-media;
}
.#{$md-css-prefix}-perm-phone-msg:before {
  content: $md-var-perm-phone-msg;
}
.#{$md-css-prefix}-perm-scan-wifi:before {
  content: $md-var-perm-scan-wifi;
}
.#{$md-css-prefix}-picture-in-picture:before {
  content: $md-var-picture-in-picture;
}
.#{$md-css-prefix}-polymer:before {
  content: $md-var-polymer;
}
.#{$md-css-prefix}-print:before {
  content: $md-var-print;
}
.#{$md-css-prefix}-query-builder:before {
  content: $md-var-query-builder;
}
.#{$md-css-prefix}-question-answer:before {
  content: $md-var-question-answer;
}
.#{$md-css-prefix}-receipt:before {
  content: $md-var-receipt;
}
.#{$md-css-prefix}-redeem:before {
  content: $md-var-redeem;
}
.#{$md-css-prefix}-report-problem:before {
  content: $md-var-report-problem;
}
.#{$md-css-prefix}-restore:before {
  content: $md-var-restore;
}
.#{$md-css-prefix}-room:before {
  content: $md-var-room;
}
.#{$md-css-prefix}-schedule:before {
  content: $md-var-schedule;
}
.#{$md-css-prefix}-search:before {
  content: $md-var-search;
}
.#{$md-css-prefix}-settings:before {
  content: $md-var-settings;
}
.#{$md-css-prefix}-settings-applications:before {
  content: $md-var-settings-applications;
}
.#{$md-css-prefix}-settings-backup-restore:before {
  content: $md-var-settings-backup-restore;
}
.#{$md-css-prefix}-settings-bluetooth:before {
  content: $md-var-settings-bluetooth;
}
.#{$md-css-prefix}-settings-cell:before {
  content: $md-var-settings-cell;
}
.#{$md-css-prefix}-settings-display:before {
  content: $md-var-settings-display;
}
.#{$md-css-prefix}-settings-ethernet:before {
  content: $md-var-settings-ethernet;
}
.#{$md-css-prefix}-settings-input-antenna:before {
  content: $md-var-settings-input-antenna;
}
.#{$md-css-prefix}-settings-input-component:before {
  content: $md-var-settings-input-component;
}
.#{$md-css-prefix}-settings-input-composite:before {
  content: $md-var-settings-input-composite;
}
.#{$md-css-prefix}-settings-input-hdmi:before {
  content: $md-var-settings-input-hdmi;
}
.#{$md-css-prefix}-settings-input-svideo:before {
  content: $md-var-settings-input-svideo;
}
.#{$md-css-prefix}-settings-overscan:before {
  content: $md-var-settings-overscan;
}
.#{$md-css-prefix}-settings-phone:before {
  content: $md-var-settings-phone;
}
.#{$md-css-prefix}-settings-power:before {
  content: $md-var-settings-power;
}
.#{$md-css-prefix}-settings-remote:before {
  content: $md-var-settings-remote;
}
.#{$md-css-prefix}-settings-voice:before {
  content: $md-var-settings-voice;
}
.#{$md-css-prefix}-shop:before {
  content: $md-var-shop;
}
.#{$md-css-prefix}-shopping-basket:before {
  content: $md-var-shopping-basket;
}
.#{$md-css-prefix}-shopping-cart:before {
  content: $md-var-shopping-cart;
}
.#{$md-css-prefix}-shop-two:before {
  content: $md-var-shop-two;
}
.#{$md-css-prefix}-speaker-notes:before {
  content: $md-var-speaker-notes;
}
.#{$md-css-prefix}-spellcheck:before {
  content: $md-var-spellcheck;
}
.#{$md-css-prefix}-star-rate:before {
  content: $md-var-star-rate;
}
.#{$md-css-prefix}-stars:before {
  content: $md-var-stars;
}
.#{$md-css-prefix}-store:before {
  content: $md-var-store;
}
.#{$md-css-prefix}-subject:before {
  content: $md-var-subject;
}
.#{$md-css-prefix}-swap-horiz:before {
  content: $md-var-swap-horiz;
}
.#{$md-css-prefix}-swap-vert:before {
  content: $md-var-swap-vert;
}
.#{$md-css-prefix}-swap-vert-circle:before {
  content: $md-var-swap-vert-circle;
}
.#{$md-css-prefix}-system-update-tv:before {
  content: $md-var-system-update-tv;
}
.#{$md-css-prefix}-tab:before {
  content: $md-var-tab;
}
.#{$md-css-prefix}-tab-unselected:before {
  content: $md-var-tab-unselected;
}
.#{$md-css-prefix}-theaters:before {
  content: $md-var-theaters;
}
.#{$md-css-prefix}-thumb-down:before {
  content: $md-var-thumb-down;
}
.#{$md-css-prefix}-thumbs-up-down:before {
  content: $md-var-thumbs-up-down;
}
.#{$md-css-prefix}-thumb-up:before {
  content: $md-var-thumb-up;
}
.#{$md-css-prefix}-toc:before {
  content: $md-var-toc;
}
.#{$md-css-prefix}-today:before {
  content: $md-var-today;
}
.#{$md-css-prefix}-track-changes:before {
  content: $md-var-track-changes;
}
.#{$md-css-prefix}-translate:before {
  content: $md-var-translate;
}
.#{$md-css-prefix}-trending-down:before {
  content: $md-var-trending-down;
}
.#{$md-css-prefix}-trending-neutral:before {
  content: $md-var-trending-neutral;
}
.#{$md-css-prefix}-trending-up:before {
  content: $md-var-trending-up;
}
.#{$md-css-prefix}-turned-in:before {
  content: $md-var-turned-in;
}
.#{$md-css-prefix}-turned-in-not:before {
  content: $md-var-turned-in-not;
}
.#{$md-css-prefix}-verified-user:before {
  content: $md-var-verified-user;
}
.#{$md-css-prefix}-view-agenda:before {
  content: $md-var-view-agenda;
}
.#{$md-css-prefix}-view-array:before {
  content: $md-var-view-array;
}
.#{$md-css-prefix}-view-carousel:before {
  content: $md-var-view-carousel;
}
.#{$md-css-prefix}-view-column:before {
  content: $md-var-view-column;
}
.#{$md-css-prefix}-view-day:before {
  content: $md-var-view-day;
}
.#{$md-css-prefix}-view-headline:before {
  content: $md-var-view-headline;
}
.#{$md-css-prefix}-view-list:before {
  content: $md-var-view-list;
}
.#{$md-css-prefix}-view-module:before {
  content: $md-var-view-module;
}
.#{$md-css-prefix}-view-quilt:before {
  content: $md-var-view-quilt;
}
.#{$md-css-prefix}-view-stream:before {
  content: $md-var-view-stream;
}
.#{$md-css-prefix}-view-week:before {
  content: $md-var-view-week;
}
.#{$md-css-prefix}-visibility:before {
  content: $md-var-visibility;
}
.#{$md-css-prefix}-visibility-off:before {
  content: $md-var-visibility-off;
}
.#{$md-css-prefix}-wallet-giftcard:before {
  content: $md-var-wallet-giftcard;
}
.#{$md-css-prefix}-wallet-membership:before {
  content: $md-var-wallet-membership;
}
.#{$md-css-prefix}-wallet-travel:before {
  content: $md-var-wallet-travel;
}
.#{$md-css-prefix}-work:before {
  content: $md-var-work;
}
