.#{$md-css-prefix}-album:before {
  content: $md-var-album;
}
.#{$md-css-prefix}-av-timer:before {
  content: $md-var-av-timer;
}
.#{$md-css-prefix}-closed-caption:before {
  content: $md-var-closed-caption;
}
.#{$md-css-prefix}-equalizer:before {
  content: $md-var-equalizer;
}
.#{$md-css-prefix}-explicit:before {
  content: $md-var-explicit;
}
.#{$md-css-prefix}-fast-forward:before {
  content: $md-var-fast-forward;
}
.#{$md-css-prefix}-fast-rewind:before {
  content: $md-var-fast-rewind;
}
.#{$md-css-prefix}-games:before {
  content: $md-var-games;
}
.#{$md-css-prefix}-hearing:before {
  content: $md-var-hearing;
}
.#{$md-css-prefix}-high-quality:before {
  content: $md-var-high-quality;
}
.#{$md-css-prefix}-loop:before {
  content: $md-var-loop;
}
.#{$md-css-prefix}-mic:before {
  content: $md-var-mic;
}
.#{$md-css-prefix}-mic-none:before {
  content: $md-var-mic-none;
}
.#{$md-css-prefix}-mic-off:before {
  content: $md-var-mic-off;
}
.#{$md-css-prefix}-movie:before {
  content: $md-var-movie;
}
.#{$md-css-prefix}-my-library-add:before {
  content: $md-var-my-library-add;
}
.#{$md-css-prefix}-my-library-books:before {
  content: $md-var-my-library-books;
}
.#{$md-css-prefix}-my-library-music:before {
  content: $md-var-my-library-music;
}
.#{$md-css-prefix}-new-releases:before {
  content: $md-var-new-releases;
}
.#{$md-css-prefix}-not-interested:before {
  content: $md-var-not-interested;
}
.#{$md-css-prefix}-pause:before {
  content: $md-var-pause;
}
.#{$md-css-prefix}-pause-circle-fill:before {
  content: $md-var-pause-circle-fill;
}
.#{$md-css-prefix}-pause-circle-outline:before {
  content: $md-var-pause-circle-outline;
}
.#{$md-css-prefix}-play-arrow:before {
  content: $md-var-play-arrow;
}
.#{$md-css-prefix}-play-circle-fill:before {
  content: $md-var-play-circle-fill;
}
.#{$md-css-prefix}-play-circle-outline:before {
  content: $md-var-play-circle-outline;
}
.#{$md-css-prefix}-playlist-add:before {
  content: $md-var-playlist-add;
}
.#{$md-css-prefix}-play-shopping-bag:before {
  content: $md-var-play-shopping-bag;
}
.#{$md-css-prefix}-queue:before {
  content: $md-var-queue;
}
.#{$md-css-prefix}-queue-music:before {
  content: $md-var-queue-music;
}
.#{$md-css-prefix}-radio:before {
  content: $md-var-radio;
}
.#{$md-css-prefix}-recent-actors:before {
  content: $md-var-recent-actors;
}
.#{$md-css-prefix}-repeat:before {
  content: $md-var-repeat;
}
.#{$md-css-prefix}-repeat-one:before {
  content: $md-var-repeat-one;
}
.#{$md-css-prefix}-replay:before {
  content: $md-var-replay;
}
.#{$md-css-prefix}-shuffle:before {
  content: $md-var-shuffle;
}
.#{$md-css-prefix}-skip-next:before {
  content: $md-var-skip-next;
}
.#{$md-css-prefix}-skip-previous:before {
  content: $md-var-skip-previous;
}
.#{$md-css-prefix}-snooze:before {
  content: $md-var-snooze;
}
.#{$md-css-prefix}-stop:before {
  content: $md-var-stop;
}
.#{$md-css-prefix}-subtitles:before {
  content: $md-var-subtitles;
}
.#{$md-css-prefix}-surround-sound:before {
  content: $md-var-surround-sound;
}
.#{$md-css-prefix}-videocam:before {
  content: $md-var-videocam;
}
.#{$md-css-prefix}-videocam-off:before {
  content: $md-var-videocam-off;
}
.#{$md-css-prefix}-video-collection:before {
  content: $md-var-video-collection;
}
.#{$md-css-prefix}-volume-down:before {
  content: $md-var-volume-down;
}
.#{$md-css-prefix}-volume-mute:before {
  content: $md-var-volume-mute;
}
.#{$md-css-prefix}-volume-off:before {
  content: $md-var-volume-off;
}
.#{$md-css-prefix}-volume-up:before {
  content: $md-var-volume-up;
}
.#{$md-css-prefix}-web:before {
  content: $md-var-web;
}
