.#{$md-css-prefix}-business:before {
  content: $md-var-business;
}
.#{$md-css-prefix}-call:before {
  content: $md-var-call;
}
.#{$md-css-prefix}-call-end:before {
  content: $md-var-call-end;
}
.#{$md-css-prefix}-call-made:before {
  content: $md-var-call-made;
}
.#{$md-css-prefix}-call-merge:before {
  content: $md-var-call-merge;
}
.#{$md-css-prefix}-call-missed:before {
  content: $md-var-call-missed;
}
.#{$md-css-prefix}-call-received:before {
  content: $md-var-call-received;
}
.#{$md-css-prefix}-call-split:before {
  content: $md-var-call-split;
}
.#{$md-css-prefix}-chat:before {
  content: $md-var-chat;
}
.#{$md-css-prefix}-clear-all:before {
  content: $md-var-clear-all;
}
.#{$md-css-prefix}-comment:before {
  content: $md-var-comment;
}
.#{$md-css-prefix}-contacts:before {
  content: $md-var-contacts;
}
.#{$md-css-prefix}-dialer-sip:before {
  content: $md-var-dialer-sip;
}
.#{$md-css-prefix}-dialpad:before {
  content: $md-var-dialpad;
}
.#{$md-css-prefix}-dnd-on:before {
  content: $md-var-dnd-on;
}
.#{$md-css-prefix}-email:before {
  content: $md-var-email;
}
.#{$md-css-prefix}-forum:before {
  content: $md-var-forum;
}
.#{$md-css-prefix}-import-export:before {
  content: $md-var-import-export;
}
.#{$md-css-prefix}-invert-colors-off:before {
  content: $md-var-invert-colors-off;
}
.#{$md-css-prefix}-invert-colors-on:before {
  content: $md-var-invert-colors-on;
}
.#{$md-css-prefix}-live-help:before {
  content: $md-var-live-help;
}
.#{$md-css-prefix}-location-off:before {
  content: $md-var-location-off;
}
.#{$md-css-prefix}-location-on:before {
  content: $md-var-location-on;
}
.#{$md-css-prefix}-message:before {
  content: $md-var-message;
}
.#{$md-css-prefix}-messenger:before {
  content: $md-var-messenger;
}
.#{$md-css-prefix}-no-sim:before {
  content: $md-var-no-sim;
}
.#{$md-css-prefix}-phone:before {
  content: $md-var-phone;
}
.#{$md-css-prefix}-portable-wifi-off:before {
  content: $md-var-portable-wifi-off;
}
.#{$md-css-prefix}-quick-contacts-dialer:before {
  content: $md-var-quick-contacts-dialer;
}
.#{$md-css-prefix}-quick-contacts-mail:before {
  content: $md-var-quick-contacts-mail;
}
.#{$md-css-prefix}-ring-volume:before {
  content: $md-var-ring-volume;
}
.#{$md-css-prefix}-stay-current-landscape:before {
  content: $md-var-stay-current-landscape;
}
.#{$md-css-prefix}-stay-current-portrait:before {
  content: $md-var-stay-current-portrait;
}
.#{$md-css-prefix}-stay-primary-landscape:before {
  content: $md-var-stay-primary-landscape;
}
.#{$md-css-prefix}-stay-primary-portrait:before {
  content: $md-var-stay-primary-portrait;
}
.#{$md-css-prefix}-swap-calls:before {
  content: $md-var-swap-calls;
}
.#{$md-css-prefix}-textsms:before {
  content: $md-var-textsms;
}
.#{$md-css-prefix}-voicemail:before {
  content: $md-var-voicemail;
}
.#{$md-css-prefix}-vpn-key:before {
  content: $md-var-vpn-key;
}
