.#{$md-css-prefix}-add:before {
  content: $md-var-add;
}
.#{$md-css-prefix}-add-box:before {
  content: $md-var-add-box;
}
.#{$md-css-prefix}-add-circle:before {
  content: $md-var-add-circle;
}
.#{$md-css-prefix}-add-circle-outline:before {
  content: $md-var-add-circle-outline;
}
.#{$md-css-prefix}-archive:before {
  content: $md-var-archive;
}
.#{$md-css-prefix}-backspace:before {
  content: $md-var-backspace;
}
.#{$md-css-prefix}-block:before {
  content: $md-var-block;
}
.#{$md-css-prefix}-clear:before {
  content: $md-var-clear;
}
.#{$md-css-prefix}-content-copy:before {
  content: $md-var-content-copy;
}
.#{$md-css-prefix}-content-cut:before {
  content: $md-var-content-cut;
}
.#{$md-css-prefix}-content-paste:before {
  content: $md-var-content-paste;
}
.#{$md-css-prefix}-create:before {
  content: $md-var-create;
}
.#{$md-css-prefix}-drafts:before {
  content: $md-var-drafts;
}
.#{$md-css-prefix}-filter-list:before {
  content: $md-var-filter-list;
}
.#{$md-css-prefix}-flag:before {
  content: $md-var-flag;
}
.#{$md-css-prefix}-forward:before {
  content: $md-var-forward;
}
.#{$md-css-prefix}-gesture:before {
  content: $md-var-gesture;
}
.#{$md-css-prefix}-inbox:before {
  content: $md-var-inbox;
}
.#{$md-css-prefix}-link:before {
  content: $md-var-link;
}
.#{$md-css-prefix}-mail:before {
  content: $md-var-mail;
}
.#{$md-css-prefix}-markunread:before {
  content: $md-var-markunread;
}
.#{$md-css-prefix}-redo:before {
  content: $md-var-redo;
}
.#{$md-css-prefix}-remove:before {
  content: $md-var-remove;
}
.#{$md-css-prefix}-remove-circle:before {
  content: $md-var-remove-circle;
}
.#{$md-css-prefix}-remove-circle-outline:before {
  content: $md-var-remove-circle-outline;
}
.#{$md-css-prefix}-reply:before {
  content: $md-var-reply;
}
.#{$md-css-prefix}-reply-all:before {
  content: $md-var-reply-all;
}
.#{$md-css-prefix}-report:before {
  content: $md-var-report;
}
.#{$md-css-prefix}-save:before {
  content: $md-var-save;
}
.#{$md-css-prefix}-select-all:before {
  content: $md-var-select-all;
}
.#{$md-css-prefix}-send:before {
  content: $md-var-send;
}
.#{$md-css-prefix}-sort:before {
  content: $md-var-sort;
}
.#{$md-css-prefix}-text-format:before {
  content: $md-var-text-format;
}
.#{$md-css-prefix}-undo:before {
  content: $md-var-undo;
}
