.#{$md-css-prefix}-access-alarm:before {
  content: $md-var-access-alarm;
}
.#{$md-css-prefix}-access-alarms:before {
  content: $md-var-access-alarms;
}
.#{$md-css-prefix}-access-time:before {
  content: $md-var-access-time;
}
.#{$md-css-prefix}-add-alarm:before {
  content: $md-var-add-alarm;
}
.#{$md-css-prefix}-airplanemode-off:before {
  content: $md-var-airplanemode-off;
}
.#{$md-css-prefix}-airplanemode-on:before {
  content: $md-var-airplanemode-on;
}
.#{$md-css-prefix}-battery-20:before {
  content: $md-var-battery-20;
}
.#{$md-css-prefix}-battery-30:before {
  content: $md-var-battery-30;
}
.#{$md-css-prefix}-battery-50:before {
  content: $md-var-battery-50;
}
.#{$md-css-prefix}-battery-60:before {
  content: $md-var-battery-60;
}
.#{$md-css-prefix}-battery-80:before {
  content: $md-var-battery-80;
}
.#{$md-css-prefix}-battery-90:before {
  content: $md-var-battery-90;
}
.#{$md-css-prefix}-battery-alert:before {
  content: $md-var-battery-alert;
}
.#{$md-css-prefix}-battery-charging-20:before {
  content: $md-var-battery-charging-20;
}
.#{$md-css-prefix}-battery-charging-30:before {
  content: $md-var-battery-charging-30;
}
.#{$md-css-prefix}-battery-charging-50:before {
  content: $md-var-battery-charging-50;
}
.#{$md-css-prefix}-battery-charging-60:before {
  content: $md-var-battery-charging-60;
}
.#{$md-css-prefix}-battery-charging-80:before {
  content: $md-var-battery-charging-80;
}
.#{$md-css-prefix}-battery-charging-90:before {
  content: $md-var-battery-charging-90;
}
.#{$md-css-prefix}-battery-charging-full:before {
  content: $md-var-battery-charging-full;
}
.#{$md-css-prefix}-battery-full:before {
  content: $md-var-battery-full;
}
.#{$md-css-prefix}-battery-std:before {
  content: $md-var-battery-std;
}
.#{$md-css-prefix}-battery-unknown:before {
  content: $md-var-battery-unknown;
}
.#{$md-css-prefix}-bluetooth:before {
  content: $md-var-bluetooth;
}
.#{$md-css-prefix}-bluetooth-connected:before {
  content: $md-var-bluetooth-connected;
}
.#{$md-css-prefix}-bluetooth-disabled:before {
  content: $md-var-bluetooth-disabled;
}
.#{$md-css-prefix}-bluetooth-searching:before {
  content: $md-var-bluetooth-searching;
}
.#{$md-css-prefix}-brightness-auto:before {
  content: $md-var-brightness-auto;
}
.#{$md-css-prefix}-brightness-high:before {
  content: $md-var-brightness-high;
}
.#{$md-css-prefix}-brightness-low:before {
  content: $md-var-brightness-low;
}
.#{$md-css-prefix}-brightness-medium:before {
  content: $md-var-brightness-medium;
}
.#{$md-css-prefix}-data-usage:before {
  content: $md-var-data-usage;
}
.#{$md-css-prefix}-developer-mode:before {
  content: $md-var-developer-mode;
}
.#{$md-css-prefix}-devices:before {
  content: $md-var-devices;
}
.#{$md-css-prefix}-dvr:before {
  content: $md-var-dvr;
}
.#{$md-css-prefix}-gps-fixed:before {
  content: $md-var-gps-fixed;
}
.#{$md-css-prefix}-gps-not-fixed:before {
  content: $md-var-gps-not-fixed;
}
.#{$md-css-prefix}-gps-off:before {
  content: $md-var-gps-off;
}
.#{$md-css-prefix}-location-disabled:before {
  content: $md-var-location-disabled;
}
.#{$md-css-prefix}-location-searching:before {
  content: $md-var-location-searching;
}
.#{$md-css-prefix}-multitrack-audio:before {
  content: $md-var-multitrack-audio;
}
.#{$md-css-prefix}-network-cell:before {
  content: $md-var-network-cell;
}
.#{$md-css-prefix}-network-wifi:before {
  content: $md-var-network-wifi;
}
.#{$md-css-prefix}-nfc:before {
  content: $md-var-nfc;
}
.#{$md-css-prefix}-now-wallpaper:before {
  content: $md-var-now-wallpaper;
}
.#{$md-css-prefix}-now-widgets:before {
  content: $md-var-now-widgets;
}
.#{$md-css-prefix}-screen-lock-landscape:before {
  content: $md-var-screen-lock-landscape;
}
.#{$md-css-prefix}-screen-lock-portrait:before {
  content: $md-var-screen-lock-portrait;
}
.#{$md-css-prefix}-screen-lock-rotation:before {
  content: $md-var-screen-lock-rotation;
}
.#{$md-css-prefix}-screen-rotation:before {
  content: $md-var-screen-rotation;
}
.#{$md-css-prefix}-sd-storage:before {
  content: $md-var-sd-storage;
}
.#{$md-css-prefix}-settings-system-daydream:before {
  content: $md-var-settings-system-daydream;
}
.#{$md-css-prefix}-signal-cellular-0-bar:before {
  content: $md-var-signal-cellular-0-bar;
}
.#{$md-css-prefix}-signal-cellular-1-bar:before {
  content: $md-var-signal-cellular-1-bar;
}
.#{$md-css-prefix}-signal-cellular-2-bar:before {
  content: $md-var-signal-cellular-2-bar;
}
.#{$md-css-prefix}-signal-cellular-3-bar:before {
  content: $md-var-signal-cellular-3-bar;
}
.#{$md-css-prefix}-signal-cellular-4-bar:before {
  content: $md-var-signal-cellular-4-bar;
}
.#{$md-css-prefix}-signal-cellular-connected-no-internet-0-bar:before {
  content: $md-var-signal-cellular-connected-no-internet-0-bar;
}
.#{$md-css-prefix}-signal-cellular-connected-no-internet-1-bar:before {
  content: $md-var-signal-cellular-connected-no-internet-1-bar;
}
.#{$md-css-prefix}-signal-cellular-connected-no-internet-2-bar:before {
  content: $md-var-signal-cellular-connected-no-internet-2-bar;
}
.#{$md-css-prefix}-signal-cellular-connected-no-internet-3-bar:before {
  content: $md-var-signal-cellular-connected-no-internet-3-bar;
}
.#{$md-css-prefix}-signal-cellular-connected-no-internet-4-bar:before {
  content: $md-var-signal-cellular-connected-no-internet-4-bar;
}
.#{$md-css-prefix}-signal-cellular-no-sim:before {
  content: $md-var-signal-cellular-no-sim;
}
.#{$md-css-prefix}-signal-cellular-null:before {
  content: $md-var-signal-cellular-null;
}
.#{$md-css-prefix}-signal-cellular-off:before {
  content: $md-var-signal-cellular-off;
}
.#{$md-css-prefix}-signal-wifi-0-bar:before {
  content: $md-var-signal-wifi-0-bar;
}
.#{$md-css-prefix}-signal-wifi-1-bar:before {
  content: $md-var-signal-wifi-1-bar;
}
.#{$md-css-prefix}-signal-wifi-2-bar:before {
  content: $md-var-signal-wifi-2-bar;
}
.#{$md-css-prefix}-signal-wifi-3-bar:before {
  content: $md-var-signal-wifi-3-bar;
}
.#{$md-css-prefix}-signal-wifi-4-bar:before {
  content: $md-var-signal-wifi-4-bar;
}
.#{$md-css-prefix}-signal-wifi-off:before {
  content: $md-var-signal-wifi-off;
}
.#{$md-css-prefix}-storage:before {
  content: $md-var-storage;
}
.#{$md-css-prefix}-usb:before {
  content: $md-var-usb;
}
.#{$md-css-prefix}-wifi-lock:before {
  content: $md-var-wifi-lock;
}
.#{$md-css-prefix}-wifi-tethering:before {
  content: $md-var-wifi-tethering;
}
