.#{$md-css-prefix}-attach-file:before {
  content: $md-var-attach-file;
}
.#{$md-css-prefix}-attach-money:before {
  content: $md-var-attach-money;
}
.#{$md-css-prefix}-border-all:before {
  content: $md-var-border-all;
}
.#{$md-css-prefix}-border-bottom:before {
  content: $md-var-border-bottom;
}
.#{$md-css-prefix}-border-clear:before {
  content: $md-var-border-clear;
}
.#{$md-css-prefix}-border-color:before {
  content: $md-var-border-color;
}
.#{$md-css-prefix}-border-horizontal:before {
  content: $md-var-border-horizontal;
}
.#{$md-css-prefix}-border-inner:before {
  content: $md-var-border-inner;
}
.#{$md-css-prefix}-border-left:before {
  content: $md-var-border-left;
}
.#{$md-css-prefix}-border-outer:before {
  content: $md-var-border-outer;
}
.#{$md-css-prefix}-border-right:before {
  content: $md-var-border-right;
}
.#{$md-css-prefix}-border-style:before {
  content: $md-var-border-style;
}
.#{$md-css-prefix}-border-top:before {
  content: $md-var-border-top;
}
.#{$md-css-prefix}-border-vertical:before {
  content: $md-var-border-vertical;
}
.#{$md-css-prefix}-format-align-center:before {
  content: $md-var-format-align-center;
}
.#{$md-css-prefix}-format-align-justify:before {
  content: $md-var-format-align-justify;
}
.#{$md-css-prefix}-format-align-left:before {
  content: $md-var-format-align-left;
}
.#{$md-css-prefix}-format-align-right:before {
  content: $md-var-format-align-right;
}
.#{$md-css-prefix}-format-bold:before {
  content: $md-var-format-bold;
}
.#{$md-css-prefix}-format-clear:before {
  content: $md-var-format-clear;
}
.#{$md-css-prefix}-format-color-fill:before {
  content: $md-var-format-color-fill;
}
.#{$md-css-prefix}-format-color-reset:before {
  content: $md-var-format-color-reset;
}
.#{$md-css-prefix}-format-color-text:before {
  content: $md-var-format-color-text;
}
.#{$md-css-prefix}-format-indent-decrease:before {
  content: $md-var-format-indent-decrease;
}
.#{$md-css-prefix}-format-indent-increase:before {
  content: $md-var-format-indent-increase;
}
.#{$md-css-prefix}-format-italic:before {
  content: $md-var-format-italic;
}
.#{$md-css-prefix}-format-line-spacing:before {
  content: $md-var-format-line-spacing;
}
.#{$md-css-prefix}-format-list-bulleted:before {
  content: $md-var-format-list-bulleted;
}
.#{$md-css-prefix}-format-list-numbered:before {
  content: $md-var-format-list-numbered;
}
.#{$md-css-prefix}-format-paint:before {
  content: $md-var-format-paint;
}
.#{$md-css-prefix}-format-quote:before {
  content: $md-var-format-quote;
}
.#{$md-css-prefix}-format-size:before {
  content: $md-var-format-size;
}
.#{$md-css-prefix}-format-strikethrough:before {
  content: $md-var-format-strikethrough;
}
.#{$md-css-prefix}-format-textdirection-l-to-r:before {
  content: $md-var-format-textdirection-l-to-r;
}
.#{$md-css-prefix}-format-textdirection-r-to-l:before {
  content: $md-var-format-textdirection-r-to-l;
}
.#{$md-css-prefix}-format-underline:before {
  content: $md-var-format-underline;
}
.#{$md-css-prefix}-functions:before {
  content: $md-var-functions;
}
.#{$md-css-prefix}-insert-chart:before {
  content: $md-var-insert-chart;
}
.#{$md-css-prefix}-insert-comment:before {
  content: $md-var-insert-comment;
}
.#{$md-css-prefix}-insert-drive-file:before {
  content: $md-var-insert-drive-file;
}
.#{$md-css-prefix}-insert-emoticon:before {
  content: $md-var-insert-emoticon;
}
.#{$md-css-prefix}-insert-invitation:before {
  content: $md-var-insert-invitation;
}
.#{$md-css-prefix}-insert-link:before {
  content: $md-var-insert-link;
}
.#{$md-css-prefix}-insert-photo:before {
  content: $md-var-insert-photo;
}
.#{$md-css-prefix}-merge-type:before {
  content: $md-var-merge-type;
}
.#{$md-css-prefix}-mode-comment:before {
  content: $md-var-mode-comment;
}
.#{$md-css-prefix}-mode-edit:before {
  content: $md-var-mode-edit;
}
.#{$md-css-prefix}-publish:before {
  content: $md-var-publish;
}
.#{$md-css-prefix}-vertical-align-bottom:before {
  content: $md-var-vertical-align-bottom;
}
.#{$md-css-prefix}-vertical-align-center:before {
  content: $md-var-vertical-align-center;
}
.#{$md-css-prefix}-vertical-align-top:before {
  content: $md-var-vertical-align-top;
}
.#{$md-css-prefix}-wrap-text:before {
  content: $md-var-wrap-text;
}
