.#{$md-css-prefix}-attachment:before {
  content: $md-var-attachment;
}
.#{$md-css-prefix}-cloud:before {
  content: $md-var-cloud;
}
.#{$md-css-prefix}-cloud-circle:before {
  content: $md-var-cloud-circle;
}
.#{$md-css-prefix}-cloud-done:before {
  content: $md-var-cloud-done;
}
.#{$md-css-prefix}-cloud-download:before {
  content: $md-var-cloud-download;
}
.#{$md-css-prefix}-cloud-off:before {
  content: $md-var-cloud-off;
}
.#{$md-css-prefix}-cloud-queue:before {
  content: $md-var-cloud-queue;
}
.#{$md-css-prefix}-cloud-upload:before {
  content: $md-var-cloud-upload;
}
.#{$md-css-prefix}-file-download:before {
  content: $md-var-file-download;
}
.#{$md-css-prefix}-file-upload:before {
  content: $md-var-file-upload;
}
.#{$md-css-prefix}-folder:before {
  content: $md-var-folder;
}
.#{$md-css-prefix}-folder-open:before {
  content: $md-var-folder-open;
}
.#{$md-css-prefix}-folder-shared:before {
  content: $md-var-folder-shared;
}
