.#{$md-css-prefix}-cast:before {
  content: $md-var-cast;
}
.#{$md-css-prefix}-cast-connected:before {
  content: $md-var-cast-connected;
}
.#{$md-css-prefix}-computer:before {
  content: $md-var-computer;
}
.#{$md-css-prefix}-desktop-mac:before {
  content: $md-var-desktop-mac;
}
.#{$md-css-prefix}-desktop-windows:before {
  content: $md-var-desktop-windows;
}
.#{$md-css-prefix}-dock:before {
  content: $md-var-dock;
}
.#{$md-css-prefix}-gamepad:before {
  content: $md-var-gamepad;
}
.#{$md-css-prefix}-headset:before {
  content: $md-var-headset;
}
.#{$md-css-prefix}-headset-mic:before {
  content: $md-var-headset-mic;
}
.#{$md-css-prefix}-keyboard:before {
  content: $md-var-keyboard;
}
.#{$md-css-prefix}-keyboard-alt:before {
  content: $md-var-keyboard-alt;
}
.#{$md-css-prefix}-keyboard-arrow-down:before {
  content: $md-var-keyboard-arrow-down;
}
.#{$md-css-prefix}-keyboard-arrow-left:before {
  content: $md-var-keyboard-arrow-left;
}
.#{$md-css-prefix}-keyboard-arrow-right:before {
  content: $md-var-keyboard-arrow-right;
}
.#{$md-css-prefix}-keyboard-arrow-up:before {
  content: $md-var-keyboard-arrow-up;
}
.#{$md-css-prefix}-keyboard-backspace:before {
  content: $md-var-keyboard-backspace;
}
.#{$md-css-prefix}-keyboard-capslock:before {
  content: $md-var-keyboard-capslock;
}
.#{$md-css-prefix}-keyboard-control:before {
  content: $md-var-keyboard-control;
}
.#{$md-css-prefix}-keyboard-hide:before {
  content: $md-var-keyboard-hide;
}
.#{$md-css-prefix}-keyboard-return:before {
  content: $md-var-keyboard-return;
}
.#{$md-css-prefix}-keyboard-tab:before {
  content: $md-var-keyboard-tab;
}
.#{$md-css-prefix}-keyboard-voice:before {
  content: $md-var-keyboard-voice;
}
.#{$md-css-prefix}-laptop:before {
  content: $md-var-laptop;
}
.#{$md-css-prefix}-laptop-chromebook:before {
  content: $md-var-laptop-chromebook;
}
.#{$md-css-prefix}-laptop-mac:before {
  content: $md-var-laptop-mac;
}
.#{$md-css-prefix}-laptop-windows:before {
  content: $md-var-laptop-windows;
}
.#{$md-css-prefix}-memory:before {
  content: $md-var-memory;
}
.#{$md-css-prefix}-mouse:before {
  content: $md-var-mouse;
}
.#{$md-css-prefix}-phone-android:before {
  content: $md-var-phone-android;
}
.#{$md-css-prefix}-phone-iphone:before {
  content: $md-var-phone-iphone;
}
.#{$md-css-prefix}-phonelink:before {
  content: $md-var-phonelink;
}
.#{$md-css-prefix}-phonelink-off:before {
  content: $md-var-phonelink-off;
}
.#{$md-css-prefix}-security:before {
  content: $md-var-security;
}
.#{$md-css-prefix}-sim-card:before {
  content: $md-var-sim-card;
}
.#{$md-css-prefix}-smartphone:before {
  content: $md-var-smartphone;
}
.#{$md-css-prefix}-speaker:before {
  content: $md-var-speaker;
}
.#{$md-css-prefix}-tablet:before {
  content: $md-var-tablet;
}
.#{$md-css-prefix}-tablet-android:before {
  content: $md-var-tablet-android;
}
.#{$md-css-prefix}-tablet-mac:before {
  content: $md-var-tablet-mac;
}
.#{$md-css-prefix}-tv:before {
  content: $md-var-tv;
}
.#{$md-css-prefix}-watch:before {
  content: $md-var-watch;
}
