.#{$md-css-prefix}-add-to-photos:before {
  content: $md-var-add-to-photos;
}
.#{$md-css-prefix}-adjust:before {
  content: $md-var-adjust;
}
.#{$md-css-prefix}-assistant-photo:before {
  content: $md-var-assistant-photo;
}
.#{$md-css-prefix}-audiotrack:before {
  content: $md-var-audiotrack;
}
.#{$md-css-prefix}-blur-circular:before {
  content: $md-var-blur-circular;
}
.#{$md-css-prefix}-blur-linear:before {
  content: $md-var-blur-linear;
}
.#{$md-css-prefix}-blur-off:before {
  content: $md-var-blur-off;
}
.#{$md-css-prefix}-blur-on:before {
  content: $md-var-blur-on;
}
.#{$md-css-prefix}-brightness-1:before {
  content: $md-var-brightness-1;
}
.#{$md-css-prefix}-brightness-2:before {
  content: $md-var-brightness-2;
}
.#{$md-css-prefix}-brightness-3:before {
  content: $md-var-brightness-3;
}
.#{$md-css-prefix}-brightness-4:before {
  content: $md-var-brightness-4;
}
.#{$md-css-prefix}-brightness-5:before {
  content: $md-var-brightness-5;
}
.#{$md-css-prefix}-brightness-6:before {
  content: $md-var-brightness-6;
}
.#{$md-css-prefix}-brightness-7:before {
  content: $md-var-brightness-7;
}
.#{$md-css-prefix}-brush:before {
  content: $md-var-brush;
}
.#{$md-css-prefix}-camera:before {
  content: $md-var-camera;
}
.#{$md-css-prefix}-camera-alt:before {
  content: $md-var-camera-alt;
}
.#{$md-css-prefix}-camera-front:before {
  content: $md-var-camera-front;
}
.#{$md-css-prefix}-camera-rear:before {
  content: $md-var-camera-rear;
}
.#{$md-css-prefix}-camera-roll:before {
  content: $md-var-camera-roll;
}
.#{$md-css-prefix}-center-focus-strong:before {
  content: $md-var-center-focus-strong;
}
.#{$md-css-prefix}-center-focus-weak:before {
  content: $md-var-center-focus-weak;
}
.#{$md-css-prefix}-collections:before {
  content: $md-var-collections;
}
.#{$md-css-prefix}-colorize:before {
  content: $md-var-colorize;
}
.#{$md-css-prefix}-color-lens:before {
  content: $md-var-color-lens;
}
.#{$md-css-prefix}-compare:before {
  content: $md-var-compare;
}
.#{$md-css-prefix}-control-point:before {
  content: $md-var-control-point;
}
.#{$md-css-prefix}-control-point-duplicate:before {
  content: $md-var-control-point-duplicate;
}
.#{$md-css-prefix}-crop:before {
  content: $md-var-crop;
}
.#{$md-css-prefix}-crop-3-2:before {
  content: $md-var-crop-3-2;
}
.#{$md-css-prefix}-crop-5-4:before {
  content: $md-var-crop-5-4;
}
.#{$md-css-prefix}-crop-7-5:before {
  content: $md-var-crop-7-5;
}
.#{$md-css-prefix}-crop-16-9:before {
  content: $md-var-crop-16-9;
}
.#{$md-css-prefix}-crop-din:before {
  content: $md-var-crop-din;
}
.#{$md-css-prefix}-crop-free:before {
  content: $md-var-crop-free;
}
.#{$md-css-prefix}-crop-landscape:before {
  content: $md-var-crop-landscape;
}
.#{$md-css-prefix}-crop-original:before {
  content: $md-var-crop-original;
}
.#{$md-css-prefix}-crop-portrait:before {
  content: $md-var-crop-portrait;
}
.#{$md-css-prefix}-crop-square:before {
  content: $md-var-crop-square;
}
.#{$md-css-prefix}-dehaze:before {
  content: $md-var-dehaze;
}
.#{$md-css-prefix}-details:before {
  content: $md-var-details;
}
.#{$md-css-prefix}-edit:before {
  content: $md-var-edit;
}
.#{$md-css-prefix}-exposure:before {
  content: $md-var-exposure;
}
.#{$md-css-prefix}-exposure-minus-1:before {
  content: $md-var-exposure-minus-1;
}
.#{$md-css-prefix}-exposure-minus-2:before {
  content: $md-var-exposure-minus-2;
}
.#{$md-css-prefix}-exposure-zero:before {
  content: $md-var-exposure-zero;
}
.#{$md-css-prefix}-exposure-plus-1:before {
  content: $md-var-exposure-plus-1;
}
.#{$md-css-prefix}-exposure-plus-2:before {
  content: $md-var-exposure-plus-2;
}
.#{$md-css-prefix}-filter:before {
  content: $md-var-filter;
}
.#{$md-css-prefix}-filter-1:before {
  content: $md-var-filter-1;
}
.#{$md-css-prefix}-filter-2:before {
  content: $md-var-filter-2;
}
.#{$md-css-prefix}-filter-3:before {
  content: $md-var-filter-3;
}
.#{$md-css-prefix}-filter-4:before {
  content: $md-var-filter-4;
}
.#{$md-css-prefix}-filter-5:before {
  content: $md-var-filter-5;
}
.#{$md-css-prefix}-filter-6:before {
  content: $md-var-filter-6;
}
.#{$md-css-prefix}-filter-7:before {
  content: $md-var-filter-7;
}
.#{$md-css-prefix}-filter-8:before {
  content: $md-var-filter-8;
}
.#{$md-css-prefix}-filter-9:before {
  content: $md-var-filter-9;
}
.#{$md-css-prefix}-filter-9-plus:before {
  content: $md-var-filter-9-plus;
}
.#{$md-css-prefix}-filter-b-and-w:before {
  content: $md-var-filter-b-and-w;
}
.#{$md-css-prefix}-filter-center-focus:before {
  content: $md-var-filter-center-focus;
}
.#{$md-css-prefix}-filter-drama:before {
  content: $md-var-filter-drama;
}
.#{$md-css-prefix}-filter-frames:before {
  content: $md-var-filter-frames;
}
.#{$md-css-prefix}-filter-hdr:before {
  content: $md-var-filter-hdr;
}
.#{$md-css-prefix}-filter-none:before {
  content: $md-var-filter-none;
}
.#{$md-css-prefix}-filter-tilt-shift:before {
  content: $md-var-filter-tilt-shift;
}
.#{$md-css-prefix}-filter-vintage:before {
  content: $md-var-filter-vintage;
}
.#{$md-css-prefix}-flare:before {
  content: $md-var-flare;
}
.#{$md-css-prefix}-flash-auto:before {
  content: $md-var-flash-auto;
}
.#{$md-css-prefix}-flash-off:before {
  content: $md-var-flash-off;
}
.#{$md-css-prefix}-flash-on:before {
  content: $md-var-flash-on;
}
.#{$md-css-prefix}-flip:before {
  content: $md-var-flip;
}
.#{$md-css-prefix}-gradient:before {
  content: $md-var-gradient;
}
.#{$md-css-prefix}-grain:before {
  content: $md-var-grain;
}
.#{$md-css-prefix}-grid-off:before {
  content: $md-var-grid-off;
}
.#{$md-css-prefix}-grid-on:before {
  content: $md-var-grid-on;
}
.#{$md-css-prefix}-hdr-off:before {
  content: $md-var-hdr-off;
}
.#{$md-css-prefix}-hdr-on:before {
  content: $md-var-hdr-on;
}
.#{$md-css-prefix}-hdr-strong:before {
  content: $md-var-hdr-strong;
}
.#{$md-css-prefix}-hdr-weak:before {
  content: $md-var-hdr-weak;
}
.#{$md-css-prefix}-healing:before {
  content: $md-var-healing;
}
.#{$md-css-prefix}-image:before {
  content: $md-var-image;
}
.#{$md-css-prefix}-image-aspect-ratio:before {
  content: $md-var-image-aspect-ratio;
}
.#{$md-css-prefix}-iso:before {
  content: $md-var-iso;
}
.#{$md-css-prefix}-landscape:before {
  content: $md-var-landscape;
}
.#{$md-css-prefix}-leak-add:before {
  content: $md-var-leak-add;
}
.#{$md-css-prefix}-leak-remove:before {
  content: $md-var-leak-remove;
}
.#{$md-css-prefix}-lens:before {
  content: $md-var-lens;
}
.#{$md-css-prefix}-looks:before {
  content: $md-var-looks;
}
.#{$md-css-prefix}-looks-1:before {
  content: $md-var-looks-1;
}
.#{$md-css-prefix}-looks-2:before {
  content: $md-var-looks-2;
}
.#{$md-css-prefix}-looks-3:before {
  content: $md-var-looks-3;
}
.#{$md-css-prefix}-looks-4:before {
  content: $md-var-looks-4;
}
.#{$md-css-prefix}-looks-5:before {
  content: $md-var-looks-5;
}
.#{$md-css-prefix}-looks-6:before {
  content: $md-var-looks-6;
}
.#{$md-css-prefix}-loupe:before {
  content: $md-var-loupe;
}
.#{$md-css-prefix}-movie-creation:before {
  content: $md-var-movie-creation;
}
.#{$md-css-prefix}-nature:before {
  content: $md-var-nature;
}
.#{$md-css-prefix}-nature-people:before {
  content: $md-var-nature-people;
}
.#{$md-css-prefix}-navigate-before:before {
  content: $md-var-navigate-before;
}
.#{$md-css-prefix}-navigate-next:before {
  content: $md-var-navigate-next;
}
.#{$md-css-prefix}-palette:before {
  content: $md-var-palette;
}
.#{$md-css-prefix}-panorama:before {
  content: $md-var-panorama;
}
.#{$md-css-prefix}-panorama-fisheye:before {
  content: $md-var-panorama-fisheye;
}
.#{$md-css-prefix}-panorama-horizontal:before {
  content: $md-var-panorama-horizontal;
}
.#{$md-css-prefix}-panorama-vertical:before {
  content: $md-var-panorama-vertical;
}
.#{$md-css-prefix}-panorama-wide-angle:before {
  content: $md-var-panorama-wide-angle;
}
.#{$md-css-prefix}-photo:before {
  content: $md-var-photo;
}
.#{$md-css-prefix}-photo-album:before {
  content: $md-var-photo-album;
}
.#{$md-css-prefix}-photo-camera:before {
  content: $md-var-photo-camera;
}
.#{$md-css-prefix}-photo-library:before {
  content: $md-var-photo-library;
}
.#{$md-css-prefix}-portrait:before {
  content: $md-var-portrait;
}
.#{$md-css-prefix}-remove-red-eye:before {
  content: $md-var-remove-red-eye;
}
.#{$md-css-prefix}-rotate-left:before {
  content: $md-var-rotate-left;
}
.#{$md-css-prefix}-rotate-right:before {
  content: $md-var-rotate-right;
}
.#{$md-css-prefix}-slideshow:before {
  content: $md-var-slideshow;
}
.#{$md-css-prefix}-straighten:before {
  content: $md-var-straighten;
}
.#{$md-css-prefix}-style:before {
  content: $md-var-style;
}
.#{$md-css-prefix}-switch-camera:before {
  content: $md-var-switch-camera;
}
.#{$md-css-prefix}-switch-video:before {
  content: $md-var-switch-video;
}
.#{$md-css-prefix}-tag-faces:before {
  content: $md-var-tag-faces;
}
.#{$md-css-prefix}-texture:before {
  content: $md-var-texture;
}
.#{$md-css-prefix}-timelapse:before {
  content: $md-var-timelapse;
}
.#{$md-css-prefix}-timer:before {
  content: $md-var-timer;
}
.#{$md-css-prefix}-timer-3:before {
  content: $md-var-timer-3;
}
.#{$md-css-prefix}-timer-10:before {
  content: $md-var-timer-10;
}
.#{$md-css-prefix}-timer-auto:before {
  content: $md-var-timer-auto;
}
.#{$md-css-prefix}-timer-off:before {
  content: $md-var-timer-off;
}
.#{$md-css-prefix}-tonality:before {
  content: $md-var-tonality;
}
.#{$md-css-prefix}-transform:before {
  content: $md-var-transform;
}
.#{$md-css-prefix}-tune:before {
  content: $md-var-tune;
}
.#{$md-css-prefix}-wb-auto:before {
  content: $md-var-wb-auto;
}
.#{$md-css-prefix}-wb-cloudy:before {
  content: $md-var-wb-cloudy;
}
.#{$md-css-prefix}-wb-incandescent:before {
  content: $md-var-wb-incandescent;
}
.#{$md-css-prefix}-wb-irradescent:before {
  content: $md-var-wb-irradescent;
}
.#{$md-css-prefix}-wb-sunny:before {
  content: $md-var-wb-sunny;
}
