.#{$md-css-prefix}-beenhere:before {
  content: $md-var-beenhere;
}
.#{$md-css-prefix}-directions:before {
  content: $md-var-directions;
}
.#{$md-css-prefix}-directions-bike:before {
  content: $md-var-directions-bike;
}
.#{$md-css-prefix}-directions-bus:before {
  content: $md-var-directions-bus;
}
.#{$md-css-prefix}-directions-car:before {
  content: $md-var-directions-car;
}
.#{$md-css-prefix}-directions-ferry:before {
  content: $md-var-directions-ferry;
}
.#{$md-css-prefix}-directions-subway:before {
  content: $md-var-directions-subway;
}
.#{$md-css-prefix}-directions-train:before {
  content: $md-var-directions-train;
}
.#{$md-css-prefix}-directions-transit:before {
  content: $md-var-directions-transit;
}
.#{$md-css-prefix}-directions-walk:before {
  content: $md-var-directions-walk;
}
.#{$md-css-prefix}-flight:before {
  content: $md-var-flight;
}
.#{$md-css-prefix}-hotel:before {
  content: $md-var-hotel;
}
.#{$md-css-prefix}-layers:before {
  content: $md-var-layers;
}
.#{$md-css-prefix}-layers-clear:before {
  content: $md-var-layers-clear;
}
.#{$md-css-prefix}-local-airport:before {
  content: $md-var-local-airport;
}
.#{$md-css-prefix}-local-atm:before {
  content: $md-var-local-atm;
}
.#{$md-css-prefix}-local-attraction:before {
  content: $md-var-local-attraction;
}
.#{$md-css-prefix}-local-bar:before {
  content: $md-var-local-bar;
}
.#{$md-css-prefix}-local-cafe:before {
  content: $md-var-local-cafe;
}
.#{$md-css-prefix}-local-car-wash:before {
  content: $md-var-local-car-wash;
}
.#{$md-css-prefix}-local-convenience-store:before {
  content: $md-var-local-convenience-store;
}
.#{$md-css-prefix}-local-drink:before {
  content: $md-var-local-drink;
}
.#{$md-css-prefix}-local-florist:before {
  content: $md-var-local-florist;
}
.#{$md-css-prefix}-local-gas-station:before {
  content: $md-var-local-gas-station;
}
.#{$md-css-prefix}-local-grocery-store:before {
  content: $md-var-local-grocery-store;
}
.#{$md-css-prefix}-local-hospital:before {
  content: $md-var-local-hospital;
}
.#{$md-css-prefix}-local-hotel:before {
  content: $md-var-local-hotel;
}
.#{$md-css-prefix}-local-laundry-service:before {
  content: $md-var-local-laundry-service;
}
.#{$md-css-prefix}-local-library:before {
  content: $md-var-local-library;
}
.#{$md-css-prefix}-local-mall:before {
  content: $md-var-local-mall;
}
.#{$md-css-prefix}-local-movies:before {
  content: $md-var-local-movies;
}
.#{$md-css-prefix}-local-offer:before {
  content: $md-var-local-offer;
}
.#{$md-css-prefix}-local-parking:before {
  content: $md-var-local-parking;
}
.#{$md-css-prefix}-local-pharmacy:before {
  content: $md-var-local-pharmacy;
}
.#{$md-css-prefix}-local-phone:before {
  content: $md-var-local-phone;
}
.#{$md-css-prefix}-local-pizza:before {
  content: $md-var-local-pizza;
}
.#{$md-css-prefix}-local-play:before {
  content: $md-var-local-play;
}
.#{$md-css-prefix}-local-post-office:before {
  content: $md-var-local-post-office;
}
.#{$md-css-prefix}-local-print-shop:before {
  content: $md-var-local-print-shop;
}
.#{$md-css-prefix}-local-restaurant:before {
  content: $md-var-local-restaurant;
}
.#{$md-css-prefix}-local-see:before {
  content: $md-var-local-see;
}
.#{$md-css-prefix}-local-shipping:before {
  content: $md-var-local-shipping;
}
.#{$md-css-prefix}-local-taxi:before {
  content: $md-var-local-taxi;
}
.#{$md-css-prefix}-location-history:before {
  content: $md-var-location-history;
}
.#{$md-css-prefix}-map:before {
  content: $md-var-map;
}
.#{$md-css-prefix}-my-location:before {
  content: $md-var-my-location;
}
.#{$md-css-prefix}-navigation:before {
  content: $md-var-navigation;
}
.#{$md-css-prefix}-pin-drop:before {
  content: $md-var-pin-drop;
}
.#{$md-css-prefix}-place:before {
  content: $md-var-place;
}
.#{$md-css-prefix}-rate-review:before {
  content: $md-var-rate-review;
}
.#{$md-css-prefix}-restaurant-menu:before {
  content: $md-var-restaurant-menu;
}
.#{$md-css-prefix}-satellite:before {
  content: $md-var-satellite;
}
.#{$md-css-prefix}-store-mall-directory:before {
  content: $md-var-store-mall-directory;
}
.#{$md-css-prefix}-terrain:before {
  content: $md-var-terrain;
}
.#{$md-css-prefix}-traffic:before {
  content: $md-var-traffic;
}
