.#{$md-css-prefix}-adb:before {
  content: $md-var-adb;
}
.#{$md-css-prefix}-bluetooth-audio:before {
  content: $md-var-bluetooth-audio;
}
.#{$md-css-prefix}-disc-full:before {
  content: $md-var-disc-full;
}
.#{$md-css-prefix}-dnd-forwardslash:before {
  content: $md-var-dnd-forwardslash;
}
.#{$md-css-prefix}-do-not-disturb:before {
  content: $md-var-do-not-disturb;
}
.#{$md-css-prefix}-drive-eta:before {
  content: $md-var-drive-eta;
}
.#{$md-css-prefix}-event-available:before {
  content: $md-var-event-available;
}
.#{$md-css-prefix}-event-busy:before {
  content: $md-var-event-busy;
}
.#{$md-css-prefix}-event-note:before {
  content: $md-var-event-note;
}
.#{$md-css-prefix}-folder-special:before {
  content: $md-var-folder-special;
}
.#{$md-css-prefix}-mms:before {
  content: $md-var-mms;
}
.#{$md-css-prefix}-more:before {
  content: $md-var-more;
}
.#{$md-css-prefix}-network-locked:before {
  content: $md-var-network-locked;
}
.#{$md-css-prefix}-phone-bluetooth-speaker:before {
  content: $md-var-phone-bluetooth-speaker;
}
.#{$md-css-prefix}-phone-forwarded:before {
  content: $md-var-phone-forwarded;
}
.#{$md-css-prefix}-phone-in-talk:before {
  content: $md-var-phone-in-talk;
}
.#{$md-css-prefix}-phone-locked:before {
  content: $md-var-phone-in-talk;
}
.#{$md-css-prefix}-phone-missed:before {
  content: $md-var-phone-missed;
}
.#{$md-css-prefix}-phone-paused:before {
  content: $md-var-phone-paused;
}
.#{$md-css-prefix}-play-download:before {
  content: $md-var-play-download;
}
.#{$md-css-prefix}-play-install:before {
  content: $md-var-play-install;
}
.#{$md-css-prefix}-sd-card:before {
  content: $md-var-sd-card;
}
.#{$md-css-prefix}-sim-card-alert:before {
  content: $md-var-sim-card-alert;
}
.#{$md-css-prefix}-sms:before {
  content: $md-var-sms;
}
.#{$md-css-prefix}-sms-failed:before {
  content: $md-var-sms-failed;
}
.#{$md-css-prefix}-sync:before {
  content: $md-var-sync;
}
.#{$md-css-prefix}-sync-disabled:before {
  content: $md-var-sync-disabled;
}
.#{$md-css-prefix}-sync-problem:before {
  content: $md-var-sync-problem;
}
.#{$md-css-prefix}-system-update:before {
  content: $md-var-system-update;
}
.#{$md-css-prefix}-tap-and-play:before {
  content: $md-var-tap-and-play;
}
.#{$md-css-prefix}-time-to-leave:before {
  content: $md-var-time-to-leave;
}
.#{$md-css-prefix}-vibration:before {
  content: $md-var-vibration;
}
.#{$md-css-prefix}-voice-chat:before {
  content: $md-var-voice-chat;
}
.#{$md-css-prefix}-vpn-lock:before {
  content: $md-var-vpn-lock;
}
