.#{$md-css-prefix}-apps:before {
  content: $md-var-apps;
}
.#{$md-css-prefix}-cancel:before {
  content: $md-var-cancel;
}
.#{$md-css-prefix}-arrow-drop-down-circle:before {
  content: $md-var-arrow-drop-down-circle;
}
.#{$md-css-prefix}-arrow-drop-down:before {
  content: $md-var-arrow-drop-down;
}
.#{$md-css-prefix}-arrow-drop-up:before {
  content: $md-var-arrow-drop-up;
}
.#{$md-css-prefix}-arrow-back:before {
  content: $md-var-arrow-back;
}
.#{$md-css-prefix}-arrow-forward:before {
  content: $md-var-arrow-forward;
}
.#{$md-css-prefix}-check:before {
  content: $md-var-check;
}
.#{$md-css-prefix}-close:before {
  content: $md-var-close;
}
.#{$md-css-prefix}-chevron-left:before {
  content: $md-var-chevron-left;
}
.#{$md-css-prefix}-chevron-right:before {
  content: $md-var-chevron-right;
}
.#{$md-css-prefix}-expand-less:before {
  content: $md-var-expand-less;
}
.#{$md-css-prefix}-expand-more:before {
  content: $md-var-expand-more;
}
.#{$md-css-prefix}-fullscreen:before {
  content: $md-var-fullscreen;
}
.#{$md-css-prefix}-fullscreen-exit:before {
  content: $md-var-fullscreen-exit;
}
.#{$md-css-prefix}-menu:before {
  content: $md-var-menu;
}
.#{$md-css-prefix}-more-horiz:before {
  content: $md-var-more-horiz;
}
.#{$md-css-prefix}-more-vert:before {
  content: $md-var-more-vert;
}
.#{$md-css-prefix}-refresh:before {
  content: $md-var-refresh;
}
.#{$md-css-prefix}-unfold-less:before {
  content: $md-var-unfold-less;
}
.#{$md-css-prefix}-unfold-more:before {
  content: $md-var-unfold-more;
}
