.#{$md-css-prefix}-cake:before {
  content: $md-var-cake;
}
.#{$md-css-prefix}-domain:before {
  content: $md-var-domain;
}
.#{$md-css-prefix}-location-city:before {
  content: $md-var-location-city;
}
.#{$md-css-prefix}-mood:before {
  content: $md-var-mood;
}
.#{$md-css-prefix}-notifications-none:before {
  content: $md-var-notifications-none;
}
.#{$md-css-prefix}-notifications:before {
  content: $md-var-notifications;
}
.#{$md-css-prefix}-notifications-off:before {
  content: $md-var-notifications-off;
}
.#{$md-css-prefix}-notifications-on:before {
  content: $md-var-notifications-on;
}
.#{$md-css-prefix}-notifications-paused:before {
  content: $md-var-notifications-paused;
}
.#{$md-css-prefix}-pages:before {
  content: $md-var-pages;
}
.#{$md-css-prefix}-party-mode:before {
  content: $md-var-party-mode;
}
.#{$md-css-prefix}-group:before {
  content: $md-var-group;
}
.#{$md-css-prefix}-group-add:before {
  content: $md-var-group-add;
}
.#{$md-css-prefix}-people:before {
  content: $md-var-people;
}
.#{$md-css-prefix}-people-outline:before {
  content: $md-var-people-outline;
}
.#{$md-css-prefix}-person:before {
  content: $md-var-person;
}
.#{$md-css-prefix}-person-add:before {
  content: $md-var-person-add;
}
.#{$md-css-prefix}-person-outline:before {
  content: $md-var-person-outline;
}
.#{$md-css-prefix}-plus-one:before {
  content: $md-var-plus-one;
}
.#{$md-css-prefix}-poll:before {
  content: $md-var-poll;
}
.#{$md-css-prefix}-public:before {
  content: $md-var-public;
}
.#{$md-css-prefix}-school:before {
  content: $md-var-school;
}
.#{$md-css-prefix}-share:before {
  content: $md-var-share;
}
.#{$md-css-prefix}-whatshot:before {
  content: $md-var-whatshot;
}
