.#{$md-css-prefix}-check-box:before {
  content: $md-var-check-box;
}
.#{$md-css-prefix}-check-box-outline-blank:before {
  content: $md-var-check-box-outline-blank;
}
.#{$md-css-prefix}-radio-button-off:before {
  content: $md-var-radio-button-off;
}
.#{$md-css-prefix}-radio-button-on:before {
  content: $md-var-radio-button-on;
}
.#{$md-css-prefix}-star:before {
  content: $md-var-star;
}
.#{$md-css-prefix}-star-half:before {
  content: $md-var-star-half;
}
.#{$md-css-prefix}-star-outline:before {
  content: $md-var-star-outline;
}
