// Variables
// --------------------------

@md-font-path:        "../font";
@md-css-prefix:       zmd;
@md-icon-prefix:      zmdi;
@md-version:          "2.0.0";

@md-border-color:     #9E9E9E;
@md-inverse:          #FFFFFF;
@md-li-width:         (30em / 14);
