body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #212121;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
.jumbotron {
    color: #f5f5f5;
    background-color: #039be5;
    border-top: 1px solid #34a782;
    border-bottom: 1px solid #1b926c;
    margin-bottom: 0;
    padding: 50px 0 40px;
}
.jumbotron a,
.jumbotron a:hover,
.jumbotron a:visited {
    color: #f5f5f5;
    text-decoration: none;
}
#social-buttons {
    padding: 22px 0 17px;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}
#social-buttons li {
    vertical-align: top;
}
#social-buttons .git-tip img {
    margin-top: -3px;
}
#download-buttons {
    padding: 22px 0 17px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.icon-set i,
.icon-set p {
    font-size: 16px;
}