/* Material Design Iconic Font uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
<% if (iconsStyles) { %>

<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
<% if (stylesheet === 'less') { %>
@md-iconset-<%= glyphs[glyphIdx] %>: '\<%= codepoints[glyphIdx] %>';
<% } %>
<% if (stylesheet === 'scss') { %>
$md-iconset-<%= glyphs[glyphIdx] %>: '\<%= codepoints[glyphIdx] %>';
<%} %>
<% } %>

<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
<% if (stylesheet === 'less') { %>
.@{md-icon-prefix}-<%= glyphs[glyphIdx] %> {
  &:before {
    content: @md-iconset-<%= glyphs[glyphIdx] %>;
  }
}
<% } %>

<% if (stylesheet === 'scss') { %>
.#{md-icon-prefix}-<%= glyphs[glyphIdx] %> {
  &:before {
    content: $md-iconset-<%= glyphs[glyphIdx] %>;
  }
}
<% } %>
<% } %>
<% } %>